.LinksList {
  text-decoration: none;
}

.LinksList-item {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  fill: grey;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.LinksList-icon {
  flex-shrink: 0;
}

.LinksList-title {
  flex-grow: 1;
  margin-left: 0.5rem;
}
