.Page {
  display: table;
  width: 100%;
  min-height: 100%;
}

.Page-title {
  font-size: 28px;
  line-height: 1.29;
  padding-bottom: 25px;
}

.Page-head {
  height: 1%;
  display: table-row;
}

.Page-content {
  height: 98%;
  display: table-row;
}

.Page-sidebar {
  width: 100%;
  padding-top: 30px;
  float: right;

  @media screen and (min-width: 1050px) {
    padding: 0;
    width: 300px;
  }
}

.Page-contentWrap {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 40px 40px;
  @include clearfix;
}

.Page-footer {
  height: 1%;
  display: table-row;
}

.Page-main {
  float: left;
}
