.Page {
  display: table;
  width: 100%;
  min-height: 100%;
}

.Page-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.29;
  padding-bottom: 25px;
}

.Page-head {
  height: 1%;
  display: table-row;

  @media screen and (min-width: 750px) {
    box-shadow: none;
  }
}

.Page-contentContainer {
  height: 98%;
  display: table-row;
}

.Page-content {
  padding-top: 144px;

  @media screen and (min-width: 750px) {
    padding-top: 0;
  }

  &.is-darkBackground {
    background-color: #f9f9f9;
  }
}

.Page-sidebar {
  width: 100%;
  padding-top: 30px;
  float: right;

  @media screen and (min-width: 1050px) {
    padding: 0;
    width: 300px;
  }
}

.Page-contentWrap {
  word-break: break-word; /* stylelint-disable-line plugin/no-unsupported-browser-features */ // Is visual enhancement
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 10px 40px;
  @include clearfix;

  @media screen and (min-width: 300px) {
    padding: 25px 40px 100px;
  }
}

.Page-footer {
  height: 1%;
  display: table-row;
}

.Page-main {
  float: left;

  @media screen and (min-width: 1050px) {
    width: 625px;
  }
}

.Page-blurb {
  font-size: 20px;
  line-height: 32px;

  li > p {
    margin: 0;
  }

  h2 {
      font-size: 20px;
  }
}

.Page-section {
  padding-top: 40px;
}

.Page-smallSection {
  padding-top: 25px;
}

.Page-highlightable:target {
  border-radius: 5px;
  padding: 20px 99px 20px 20px;
  position: relative;
  left: -20px;
  background-color: darken(white, 20%);
}

.Page-bodyText {
  a {
    color: #4a4a4a;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  .Page-highlightable + h3,
  ol + h3,
  ul + h3,
  p + h3 {
    padding-top: 30px;
  }

  p,
  li {
    font-size: 14px;
    line-height: 22px;
  }

  h4 {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
  }
}

.Page-header {
  position: fixed;
  width: 100%;
  z-index: z-index(Page-header);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);

  @media screen and (min-width: 750px) {
    position: static;
    box-shadow: none;
  }
}
