
{% if include.dynamic %}
  <section class="YearSelect" data-json='{ "data" : {{ include.years | jsonify | escape }} }' data-dynamic='{ "data" : {{ include.dynamic | jsonify | escape }} }' data-year="{{ include.year }}">
    {% include components/header-and-footer/YearSelect/partials/skeleton-state.html %}
  </section>
{% else %}
  <section class="YearSelect" data-json='{ "data" : {{ include.years | jsonify | escape }} }' data-year="{{ include.year }}">
    {% include components/header-and-footer/YearSelect/partials/skeleton-state.html %}
  </section>
{% endif %}