<section class="YearSelect">
  <h2 class="YearSelect-title">Show data for a financial year</h2>
  <div class="YearSelect-wrap">
    <ul class="YearSelect-bar js-dropdown">
      {% for year in include.years %}
  
        {% if year[2] == 'active' %}
          <li class="YearSelect-item is-active">
            <span class="YearSelect-link">{{ year[0] }}</span>
          </li>
        {% endif %}          
                    
        {% if year[2] == 'link' %}
          <li class="YearSelect-item">
            <a class="YearSelect-link" href="{{ year[1] }}">{{ year[0] }}</a>
          </li>
        {% endif %} 

      {% endfor %}
    </ul>
  </div>
</section>