$years: 3;

.YearSelect {
  background-color: #4a4a4a;
  text-align: center;
  padding: 5px 20px;
}

.YearSelect-title {
  color: white;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}

.YearSelect-content {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  position: relative;
  max-width: 100px;
  height: 48px;
  margin: 10px 0;

  @media screen and (min-width: 550px) {
    height: auto;
    max-width: 140px * $years;
  }
}

.YearSelect-bar {
  background: white;
  border-radius: 3px;
  border: solid 1px #9b9b9b;
  padding-left: 0;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  z-index: z-index('YearSelect-bar');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include clearfix;

  @media screen and (min-width: 550px) {
    position: static;
    display: block;
  }

  @media screen and (min-width: 950px) {
    width: auto;
  }
}

.YearSelect-item {
  cursor: pointer;
  list-style: none;
  float: left;
  width: 100%;
  display: none;
  order: 2;

  @media screen and (min-width: 550px) {
    display: block;
    width: (100% / $years);

    &::after {
      display: none !important;
    }
  }

  &.is-active {
    order: 1;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: inline-block;

    .YearSelect-bar.is-open & {
      border-bottom: 1px solid #4a4a4a;
    }

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top: 5px solid #4a4a4a;
      margin-left: 5px;
      position: relative;
      top: 3px;
    }

    @media screen and (min-width: 550px) {
      cursor: default;
      border-left: solid 1px #9b9b9b;
      border-right: solid 1px #9b9b9b;
      display: block;
      background-color: #d2d2d2;
      border-bottom-width: 0 !important;
    }
  }

  .YearSelect-bar.is-open & {
    display: block;
  }
}

.YearSelect-link {
  width: auto;
  font-size: 14px;
  text-decoration: none;
  color: #4a4a4a;
  padding: 10px 0;
  display: inline-block;

  .YearSelect-bar:not(.is-open) .YearSelect-item:not(.is-active) &:hover {
    background-color: darken(white, 15%);
  }

  @media screen and (min-width: 550px) {
    width: 100%;
  }
}
