.Button {
  display: block;
  border: 0;
  border-radius: 18px;
  background-color: #7bb344;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 8px 16px 11px 13px;
  cursor: pointer;
  text-align: center;
  fill: white;
  text-decoration: none;

  &:hover {
    background: darken(#7bb344, 15%);
  }

  &.is-inline {
    width: auto;
    display: inline-block;
  }

  &.is-white {
    color: #3f3f3f;
    background-color: white;

    &:hover {
      background-color: darken(white, 15%);
    }
  }

  &.has-icon {
    line-height: 0;
  }

  &.is-invisible {
    fill: #3f3f3f;
    color: #3f3f3f;
    background: none;

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}
