<div class="RelatedBox">
  <div class="RelatedBox-title">Find budget data related to one of these popular topics</div>
  <div class="RelatedBox-item"><a class="RelatedBox-link" href="#">University</a></div>
  <div class="RelatedBox-item"><a class="RelatedBox-link" href="#">Land reform</a></div>
  <div class="RelatedBox-item"><a class="RelatedBox-link" href="#">Mineral resources</a></div>
  <div class="RelatedBox-item"><a class="RelatedBox-link" href="#">Tourism</a></div>
  <div class="RelatedBox-item"><a class="RelatedBox-link" href="#">Policing</a></div>
  <div class="RelatedBox-item"><a class="RelatedBox-link" href="#">Poverty eleviation</a></div>
</div>