<div class="RelatedBox">
  <div class="RelatedBox-title">Find budget data related to one of these popular topics</div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="search-result/?search=University">University</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="search-result/?search=Land reform">Land reform</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="search-result/?search=Mineral resources">Mineral resources</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="search-result/?search=Tourism">Tourism</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="search-result/?search=Policing">Policing</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="search-result/?search=Poverty eleviation">Poverty eleviation</a>
  </div>
</div>