<div class="RelatedBox">
  <div class="RelatedBox-title">Find budget data related to one of these popular topics</div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="departments?autofill=University">University</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="departments?autofill=Land reform">Land reform</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="departments?autofill=Mineral resources">Mineral resources</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="departments?autofill=Tourism">Tourism</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="departments?autofill=Policing">Policing</a>
  </div>
  <div class="RelatedBox-item">
    <a class="RelatedBox-link" href="departments?autofill=Poverty eleviation">Poverty eleviation</a>
  </div>
</div>