<div class="CsoLinks">
  <ul class="u-listReset">
    <li class="u-listItemReset">
      <h3 class="CsoLinks-title">Data from other sources</h3>
      <ul class="u-listReset">
        {% for item in include.resources %}
          <li class="CsoLinks-item">
            <a class="CsoLinks-link" href="{{ item.url_path}}">
              <span class="CsoLinks-label">{{ item.name }}</span>
              <div class="CsoLinks-contributor">Contributed by {{ item.contributor }}</div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>