.js-initModal {
  display: none;
}

.Modal {
  z-index: 10000;
}

.Modal-inner {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Modal-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.1s;

  .Modal-inner.is-enter & {
    opacity: 0;
  }

  .Modal-inner.is-enter-active & {
    opacity: 1;
  }

  .Modal-inner.is-leave & {
    opacity: 1;
  }

  .Modal-inner.is-leave-active & {
    opacity: 0;
  }
}

.Modal-boxWrap {
  position: relative;
  max-width: 570px;
  border-radius: 20px;
  background-color: #e6e6e6;
  padding: 10px;
  margin: 40px;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  .Modal-inner.is-enter & {
    transform: scale(0);
  }

  .Modal-inner.is-enter-active & {
    transform: scale(1);
  }

  .Modal-inner.is-leave & {
    transform: scale(1);
  }

  .Modal-inner.is-leave-active & {
    transform: scale(0);
  }

  @media screen and (min-width: 900px) {
    margin: 0;
  }
}

.Modal-box {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.Modal-heading {
  font-size: 18px;
  font-weight: 900;
  padding: 15px 40px 15px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.Modal-content {
  padding: 15px 20px;
}

.Modal-close {
  cursor: pointer;
  position: absolute;
  background: #e6e6e6;
  padding: 10px;
  border-radius: 50%;
  fill: #c66347;
  top: -12px; 
  right: -12px;
  border: 4px solid white;
  line-height: 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    fill: darken(#c66347, 15%);
    background: darken(#e6e6e6, 15%);
    border: 4px solid darken(white, 15%);
  }

  &:focus {
    outline: 0;
    fill: darken(#c66347, 15%);
    background: darken(#e6e6e6, 15%);
    border: 4px solid darken(white, 15%);
  }

  &:active {
    top: -11px;
    right: -13px;
    box-shadow: none;
  }
}
