.Radios {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.Radios-itemWrap {
  display: inline-block;
}

.Radios-input {
  position: absolute;
  left: -9999px;
}

.Radios-label {
  user-select: none;
  position: relative;
  cursor: pointer;
  padding: 10px 15px 10px 35px;
  border-radius: 3px;
  display: block;

  &:hover {
    background: darken(white, 15%);
  }

  &::before {
    position: absolute;
    left: 10px;
    top: 10px;
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 3px solid #3f3f3f;
  }

  &::after {
    transform: scale(0);
    position: absolute;
    left: 15px;
    top: 15px;
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #3f3f3f;
    transition: transform 0.3s;
  }

  .Radios-input:checked + &::after {
    transform: scale(1);
  }
}
