<ul class="SubLinks-subItems">
  <li class="SubLinks-subItem">
    <a class="SubLinks-subLink js-link js-forceClose" data-connected-id="background" href="/{{ include.year }}/about#background">Background</a>
  </li>
  <li class="SubLinks-subItem">
    <a class="SubLinks-subLink js-link js-forceClose" data-connected-id="development" href="/{{ include.year }}/about#development">Development</a>
  </li>
  <li class="SubLinks-subItem">
    <a class="SubLinks-subLink js-link js-forceClose" data-connected-id="project-status" href="/{{ include.year }}/about#project-status">Project Status</a>
  </li>
  <li class="SubLinks-subItem">
    <a class="SubLinks-subLink js-link js-forceClose" data-connected-id="your-contribution" href="/{{ include.year }}/about#your-contribution">Your Contribution</a>
  </li>
  <li class="SubLinks-subItem">
    <a class="SubLinks-subLink js-link js-forceClose" data-connected-id="contacts" href="/{{ include.year }}/about#contacts">Contacts</a>
  </li>
  <li class="SubLinks-subItem">
    <a class="SubLinks-subLink js-link js-forceClose" data-connected-if="" href="/{{ include.year }}/about#media-and-other-information">Media & Other Information</a>
  </li>
</ul>