<div class="HeaderBar">
  <div class="HeaderBar-wrap">
    <div class="HeaderBar-navBarWrap">
      {% include components/header-group/NavBar/index.html %}
    </div>
    <div class="HeaderBar-logoWrap">
      <div class="HeaderBar-logo">
        <div class="HeaderBar-logoTitle">vulekamali</div>
        <div class="HeaderBar-disclaimer">Early Preview</div>
      </div>
    </div>
    <div class="HeaderBar-searchWrap">
        {% include components/header-group/Search/index.html %}
    </div>
  </div>
</div>