<footer class="Footer">
  <div class="Footer-wrap">
    <nav class="Footer-column">
      <h2 class="u-sReadOnly">Other pages on this site</h2>
      <ul>

        <li>
          <h3 class="Footer-title">About</h3>
          <ul class="Footer-list">
            <li class="Footer-item">
              <a class="Footer-link" href="https://treasurydata.openup.org.za/about">Data Portal</a>
            </li>
        
            <li class="Footer-item">
              <a class="Footer-link" href="http://www.treasury.gov.za/">National Treasury</a>
            </li>
          </ul>
        </li> 

      </ul>
    </nav>
  </div>
</footer>