<footer class="Footer">
  <div class="Footer-wrap">
    <nav class="Footer-column">
      <h2 class="u-sReadOnly">Other pages on this site</h2>

      <ul class="Footer-container">
        <li class="Footer-section">
          <h3 class="Footer-title">Learning Center</h3>
          <ul class="Footer-list">
            <li class="Footer-item">
              <a class="Footer-link" href="/2017-18/glossary">Glossary</a>
            </li>
          </ul>
        </li>

        <li class="Footer-section">
          <h3 class="Footer-title">About</h3>
          <ul class="Footer-list">
            <li class="Footer-item">
              <a class="Footer-link" href="http://data.vulekamali.gov.za/">Data Portal API</a>
            </li>
        
            <li class="Footer-item">
              <a class="Footer-link" href="http://www.treasury.gov.za/">National Treasury</a>
            </li>

            <li class="Footer-item">
              <a class="Footer-link" href="http://imaliyethu.org.za/">IMALI YETHU</a>
            </li>
          </ul>
        </li>

        <li class="Footer-section">
          <h3 class="Footer-title">Connect with us</h3>
          <ul class="Footer-list">
            <li class="Footer-item">Subscribe to the Budget Data Portal newsletter</li>
            <li class="Footer-item">
              <form action="https://openup.us17.list-manage.com/subscribe/post?u=1769390be13958db72c0af6ed&id=308211cb20" method="post" target="_blank">
                <input type="email" value="" name="EMAIL" class="Footer-input" required placeholder="email address" id="mce-EMAIL">
                <button type="submit" class="u-button">Subscribe</button>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1769390be13958db72c0af6ed_308211cb20" tabindex="-1" value=""></div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</footer>
