.Footer {
  background-color: #f0f0f0;
  font-size: 14px;
  line-height: 2.14;
}

.Footer-container {
  padding: 0px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.Footer-section {
  display: block;
  width: 100%;

  @media screen and (min-width: 500px) {
    float: left;
    width: 33%;
    padding-right: 10px;
  }
}

.Footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

.Footer-wrap {
  padding: 25px 40px 100px;
  max-width: 1024px;
  margin: 0 auto;
}

.Footer-link {
  font-size: 14px;
  text-decoration: none;
  color: #4a4a4a;
  display: inline-block;
  border-radius: 3px;

  &:hover {
    background-color: darken(#f0f0f0, 5%);
  }
}

.Footer-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

.Footer-input {
  font-size: 14px;
  padding: 13px;
  border: 1px solid #979797;
  border-radius: 3px;
}
