
<div class="Contacts">
    <div class="Contacts-title">National Treasury officials responsible for the project</div>
    <div class="Contacts-item">
      <div class="Contacts-iconWrap">
        <div class="Contacts-icon">
          <svg class="Contacts-svg" fill="white" version="1.2" baseProfile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82.3 100">
            <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
            <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
          </svg>
        </div>
      </div>
      <ul class="Contacts-info">
        <li class="Contacts-line is-title">Dr Kay V Brown</li>
        <li class="Contacts-line">Tel:		<a href="tel:+27 (0)12 315 5450">+27 (0)12 315 5450</a></li>
        <li class="Contacts-line">E-mail: 	<a href="mailto:Kay.Brown@treasury.gov.za">Kay.Brown@treasury.gov.za</a></li>
      </ul>
    </div>
    <div class="Contacts-item">
      <div class="Contacts-iconWrap">
        <div class="Contacts-icon">
          <svg class="Contacts-svg" fill="white" version="1.2" baseProfile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82.3 100">
            <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
            <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
          </svg>
        </div>
      </div>
      <ul class="Contacts-info">
        <li class="Contacts-line is-title">Mr Andisile Best</li>
        <li class="Contacts-line">Director: Budget Reform</li>
        <li class="Contacts-line">Tel: 		<a href="tel:+27 (0)12 315 5031">+27 (0)12 315 5031</a></li>
        <li class="Contacts-line">E-mail: 	<a href="mailto:Andisile.Best@treasury.gov.za">Andisile.Best@treasury.gov.za</a></li>
      </ul>
    </div>
    <div class="Contacts-title">Civil Society partner representative contact person</div>
    <div class="Contacts-item">
      <div class="Contacts-iconWrap">
        <div class="Contacts-icon">
          <svg class="Contacts-svg" fill="white" version="1.2" baseProfile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82.3 100">
            <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
            <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
          </svg>
        </div>
      </div>
      <ul class="Contacts-info">
        <li class="Contacts-line is-title">Ms Zukiswa Kota</li>
        <li class="Contacts-line">Head: Monitoring and Advocacy Programme</li>
        <li class="Contacts-line">Public Service Accountability Monitor (IMALI YETHU representative)</li>
        <li class="Contacts-line">E-mail: <a href="mailto:z.kota@ru.ac.za">z.kota@ru.ac.za</a></li>
        <li class="Contacts-line">Tel: <a href="tel:+27 (0)46 603 8583">+27 (0)46 603 8583</a></li>
      </ul>
    </div>
    <div class="Contacts-title">GTAC contact for the project</div>
    <div class="Contacts-item">
      <div class="Contacts-iconWrap">
        <div class="Contacts-icon">
          <svg class="Contacts-svg" fill="white" version="1.2" baseProfile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82.3 100">
            <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
            <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
          </svg>
        </div>
      </div>
      <ul class="Contacts-info">
        <li class="Contacts-line is-title">Ms Kirsten Pearson</li>
        <li class="Contacts-line">Project Manager: Government Technical Advisory Centre</li>
        <li class="Contacts-line">E-mail: <a href="mailto:kirsten.pearson@gtac.gov.za">kirsten.pearson@gtac.gov.za</a></li>
        <li class="Contacts-line">Tel: <a href="tel:+27 (0)82 936 1898">+27 (0)82 936 1898</a></li>
      </ul>
    </div>
    <div class="Contacts-title">Service provider contact for the project</div>
    <div class="Contacts-item">
      <div class="Contacts-iconWrap">
        <div class="Contacts-icon">
          <svg class="Contacts-svg" fill="white" version="1.2" baseProfile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82.3 100">
            <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
            <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
          </svg>
        </div>
      </div>
      <ul class="Contacts-info">
        <li class="Contacts-line is-title">Mr Adi Eyal</li>
        <li class="Contacts-line">OpenUp</li>
        <li class="Contacts-line">E-mail: <a href="mailto:adi@openup.org.za">adi@openup.org.za</a></li>
        <li class="Contacts-line">Mobile: <a href="tel:+27 (0)78 014 2469">+27 (0)78 014 2469</a></li>
      </ul>
    </div>
    <div class="Contacts-title">Website Technical feedback or questions</div>
    <div class="Contacts-item">
      <div class="Contacts-iconWrap">
        <div class="Contacts-icon">
          <svg class="Contacts-svg" fill="white" version="1.2" baseProfile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82.3 100">
            <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
            <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
          </svg>
        </div>
      </div>
      <ul class="Contacts-info">
        <li class="Contacts-line">E-mail: <a href="mailto:budgetportal@openup.org.za">budgetportal@openup.org.za</a></li>
      </ul>
    </div>
  </div>
