<div
  class="js-expenditureChart"
  data-values="{ &quot;data&quot;: {&quot;nominal&quot;:[{&quot;financial_year&quot;:&quot;2014-15&quot;,&quot;amount&quot;:177500000},{&quot;financial_year&quot;:&quot;2015-16&quot;,&quot;amount&quot;:188400000},{&quot;financial_year&quot;:&quot;2016-17&quot;,&quot;amount&quot;:194700000},{&quot;financial_year&quot;:&quot;2017-18&quot;,&quot;amount&quot;:206200000},{&quot;financial_year&quot;:&quot;2018-19&quot;,&quot;amount&quot;:230200000}],&quot;real&quot;:[{&quot;financial_year&quot;:&quot;2014-15&quot;,&quot;amount&quot;:199550000},{&quot;financial_year&quot;:&quot;2015-16&quot;,&quot;amount&quot;:202940000},{&quot;financial_year&quot;:&quot;2016-17&quot;,&quot;amount&quot;:205580000},{&quot;financial_year&quot;:&quot;2017-18&quot;,&quot;amount&quot;:206200000},{&quot;financial_year&quot;:&quot;2018-19&quot;,&quot;amount&quot;:208260000}],&quot;base_calendar_year&quot;:2017} }"
>
</div>
