.NewSection {
  text-align: left;
  font-size: 14px;
  display: block;
  color: $colour-shading-dark;
  text-decoration: none;
  width: 100%;
  padding: 20px 20px 25px;

  @media ($mobile-breakpoint) {
    padding: 25px 30px 30px;
  }

  @media ($tablet-breakpoint) {
    padding: 25px 40px 30px;
  }

  &.is-bevel {
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid $colour-shading-border;
  }

  &.is-dark {
    background-color: $colour-shading-light;

    &.is-link:hover {
      background-color: darken($colour-shading-light, 15%);
    }
  }

  &.is-green {
    background-color: $colour-brand-green;

    &.is-link:hover {
      background-color: darken($colour-brand-green, 15%);
    }
  }
}

.NewSection-content {
  padding: 10px 10px 15px;

  @media ($mobile-breakpoint) {
    padding: 15px 20px 20px;
  }

  @media ($tablet-breakpoint) {
    padding: 15px 30px 20px;
  }

  &.is-card {
    padding: 20px 10px 25px;
    background: white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid $colour-shading-border;

    @media ($mobile-breakpoint) {
      padding: 25px 20px 35px;
    }

    @media ($tablet-breakpoint) {
      padding: 25px 30px 35px;
    }

    .NewSection.is-link:hover & {
      background-color: darken(white, 15%);
      border: 1px solid darken(#d2d2d2, 15%);
    }
  }

  &.is-dark {
    background-color: #7d7d7d;
    color: white;
  }
}

.NewSection-title {
  margin: 0 0 10px;
  font-size: $font-size-medium;
  font-weight: bold;
  font-weight: 900;
  display: block;
}
