<ul class="u-listReset CsoDirectory">

  <li class="CsoDirectory-itemWrap">
    <a class="CsoDirectory-item" href="#">
      <div class="CsoDirectory-cover"></div>
      <div class="CsoDirectory-box">
        <h3 class="CsoDirectory-title">Analysis of University Education spending in 2017</h3><span class="CsoDirectory-contributor">Data provided by Equal Education</span>
        <div class="CsoDirectory-imgWrap"><img class="CsoDirectory-img" src="https://treasurydata.openup.org.za/uploads/group/2018-01-19-083658.384768spii-logo.jpg" alt=""/></div>
      </div>
      <ul class="CsoDirectory-box is-dark">
        <li class="CsoDirectory-metaData">Total resources: 3</li>
        <li class="CsoDirectory-metaData">First uploaded: 4th of Dec 2017</li>
        <li class="CsoDirectory-metaData">Last updated: 4th of Dec 2017</li>
      </ul>
    </a>
  </li>

  <li class="CsoDirectory-itemWrap">
    <a class="CsoDirectory-item" href="#">
      <div class="CsoDirectory-cover"></div>
      <div class="CsoDirectory-box">
        <h3 class="CsoDirectory-title">Analysis of University Education spending in 2017</h3><span class="CsoDirectory-contributor">Data provided by Equal Education</span>
        <div class="CsoDirectory-imgWrap"><img class="CsoDirectory-img" src="https://treasurydata.openup.org.za/uploads/group/2018-01-19-083658.384768spii-logo.jpg" alt=""/></div>
      </div>
      <ul class="CsoDirectory-box is-dark">
        <li class="CsoDirectory-metaData">Total resources: 3</li>
        <li class="CsoDirectory-metaData">First uploaded: 4th of Dec 2017</li>
        <li class="CsoDirectory-metaData">Last updated: 4th of Dec 2017</li>
      </ul>
    </a>
  </li>

  <li class="CsoDirectory-itemWrap">
    <a class="CsoDirectory-item" href="#">
      <div class="CsoDirectory-cover"></div>
      <div class="CsoDirectory-box">
        <h3 class="CsoDirectory-title">Analysis of University Education spending in 2017</h3><span class="CsoDirectory-contributor">Data provided by Equal Education</span>
        <div class="CsoDirectory-imgWrap"><img class="CsoDirectory-img" src="https://treasurydata.openup.org.za/uploads/group/2018-01-19-083658.384768spii-logo.jpg" alt=""/></div>
      </div>
      <ul class="CsoDirectory-box is-dark">
        <li class="CsoDirectory-metaData">Total resources: 3</li>
        <li class="CsoDirectory-metaData">First uploaded: 4th of Dec 2017</li>
        <li class="CsoDirectory-metaData">Last updated: 4th of Dec 2017</li>
      </ul>
    </a>
  </li>

</ul>