<div class="HeaderBar">
  <div class="HeaderBar-wrap">
    <div class="HeaderBar-navBarWrap">
      {% include components/header-and-footer/NavBar/index.html title=include.title items=include.items year=include.year active=include.active %}
    </div>
    <a href="/" class="HeaderBar-logoWrap">
      {% include components/header-and-footer/Logo/index.html %}
    </a>
    <div class="HeaderBar-searchWrap">
      {% include components/header-and-footer/Search/index.html %}
    </div>
  </div>
</div>