<div class="HeaderBar">
  <div class="HeaderBar-wrap">
    <div class="HeaderBar-navBarWrap">
      {% 
        include components/header-and-footer/NavBar/index.html
        items=include.items
        selected_tab=include.selected_tab
        latest_year=include.latest_year
        layout=include.layout
        selected_sidebar=include.selected_sidebar
      %}
    </div>
    <a href="/" class="HeaderBar-logoWrap">
      {% include components/header-and-footer/Logo/index.html %}
    </a>
    <div class="HeaderBar-searchWrap">
      {% 
        include components/header-and-footer/Search/index.html
        year=include.year
      %}
    </div>
  </div>
</div>