<div class="Graph">
  <div class="Graph-title">Funded programmes for {{ include.year }}</div>
  <div class="Graph-description">A department's programmes are the activities that it performs during the financial year. Different programs have different levels of funding, depending on their requirements and available finances.</div>
  <div 
    class="Graph-data"
    data-type="{{ include.type }}"
    data-graph='{ "data": {{ include.graph | jsonify }} }'
    data-year="{{ include.year }}"
  ></div>

  {% if include.treasury %}

    {% for item in include.treasury %}
      {% assign title = item[0] %}

      {% for format in item[1].formats %}

      {% if (format.format == 'XLSX') or (format.format == 'XLS') or (format.format == 'XLSXM') %}
        {% assign newFormat = 'Excel' %}
      {% else %}
        {% assign newFormat = format.format %}
      {% endif %}

      <div class="Graph-linkWrap">
        <a
          href="{{ format.url }}" 
          class="Graph-link"
        >
          <span class="Graph-icon">
            <svg class="Icon is-12" width="0" height="0" xmlns="http://www.w3.org/2000/svg" viewBox="157 347 100 100">
              <path d="M250.5 402.4a2 2 0 0 0-1.9-1.3h-22.8v-52c0-1.2-1-2.1-2.1-2.1h-33.3a2 2 0 0 0-2.1 2v52.1h-23a2 2 0 0 0-1.4 3.6l41.6 41.7c.4.4.9.6 1.4.6.6 0 1.1-.2 1.5-.6l41.7-41.7a2 2 0 0 0 .4-2.3z"></path>
            </svg>
          </span>
          <span>{{ title }} ({{ newFormat }})</span>
        </a>
      </div>

      {% endfor %}
    {% endfor %}

  {% endif %}
 
</div>


