<ul class="Programmes">
    <li>
      <div class="Programmes-title">Programmes in this department</div>
      <ul class="Programmes-list">
        <li class="Programmes-item">Administration</li>
        <li class="Programmes-item">Planning, Policy and Strategy</li>
        <li class="Programmes-item">University Education</li>
        <li class="Programmes-item">Technical and Vocational Education and Training</li>
        <li class="Programmes-item">Skills Development</li>
        <li class="Programmes-item">Community Education and Training</li>
      </ul>
    </li>
  </ul>