<div>
  <h3 class="Title Title--section">{{ include.title }}</h3>
  <p>{{ include.description }}</p>

  {% assign text1 = include.source_type | append: " " | append: include.year %}
  {% assign text2 = "Dataset Guide for " | append: include.source_type %} 
  {% assign text3 = "Learn more about these programmes in the " | append: source_type | append: " as PDF" %} 
  {% assign text4 = "Learn more about these programmes in the " | append: source_type | append: " as Excel" %} 

  {% if include.dataset or include.guide or include.pdf or include.excel %}
    <ul class="LinksList">
        {%
          include components/LinksList/item.html
          prefix="Source"
          text=text1
          url=include.dataset
          type="dataset"
        %}

        {%
          include components/LinksList/item.html
          text=text2
          url=include.guide
          type="guides"
        %}

        {%
          include components/LinksList/item.html
          text=text3
          url=include.pdf
          type="download"
        %}

        {%
          include components/LinksList/item.html
          text=text4
          url=include.excel
          type="download"
        %}
    </ul>
  {% endif %}

  <div class="Grid has-threeColumn u-marginTop15">
    {% for chart in include.charts_list %}      
      <div class="Card">
        <div class="Title Title--section">{{ chart.name }}</div>
        <div 
          data-component="ChartAdaptor"
          data-type="multiple"
          data-items="{{ chart.items | jsonify | escape }}"
          data-scale="1"
          data-title="{{ chart.name | truncate: 45 }}"
          data-subtitle="{{ include.subtitle }}"
          data-description="Main budget for subprogrammes of this department"
        >
        </div>
      </div>
    {% endfor %}
  </div>
</div>