<div class="AdvancedChartSection" id="{{ include.type }}">
  {% if include.type == "programmes" %}
    <h3 class="Title Title--section">Programme budgets for {{ include.year }}</h3>
  {% endif %}

  {% if include.type == "expenditure" %}
    <h3 class="Title Title--section">Budgeted and Actual Expenditure</h3>
  {% endif %}

  {% if include.type == "adjusted" %}
    <h3 class="Title Title--section">Budget changes in the Adjusted Budget</h3>
  {% endif %}

  <div class="AdvancedChartSection-container">
    <div class="AdvancedChartSection-item">
      <div class="AdvancedChartSection-share u-marginTop10 u-marginBottom15">
        <div data-component="Share" data-anchor="{{ include.type }}" data-color="{{ include.color }}"></div>
      </div>

      {% if include.type == "programmes" %}
        {% assign text1 = include.source_type | append: " " | append: include.year %}
        {% assign text3 = "Learn more about these programmes in the " | append: include.source_type | append: " as PDF" %}
        {% assign text4 = "Learn more about these programmes in the " | append: include.source_type | append: " as Excel" %}

        <p class="js-tooltips">A department&#x27;s programmes are the activities that it spends money on during the financial year. Different programmes have different expenditure budgets, depending on their requirements and available finances. More detail on the programmes is available in the department's {{ include.sourceType }} documents.</p>
      {% endif %}

      {% if include.type == "expenditure" %}
        {% assign text1 = include.source_type | append: " " | append: include.year %}
        {% assign text3 = "Learn more about the MTEF in the " | append: include.source_type | append: " as PDF" %}
        {% assign text4 = "Learn more about the MTEF in the " | append: include.source_type | append: " as Excel" %}

        <p class="js-tooltips">
          Budgeted and actual expenditure/allocations for a department can increase or decrease from year to year. Changes in expenditure for a department can be because of changes in the activities of the department, because of changes in priorities between departments, because of cost efficiencies or because of increases in the price of goods and services due to inflation.
        </p>

        <p class="js-tooltips">
          The chart shows the department’s actual expenditure for past years, and budgeted expenditure for the current year and the upcoming three years of the medium-term expenditure framework (MTEF). By adjusting these numbers to take inflation into account, it is possible to determine if a department’s expenditure is really increasing or decreasing in real terms, as compared to the rest of the economy.
        </p>

        <p class="u-marginBottom15">
          Previous financial years indicate actual expenditure while upcoming financial years indicate estimated expenditure:

          <table border="1" cellspacing="0" cellpadding="0">
            <tr>
              <th class="AdvancedChartSection-cell">Year</th>
              <th class="AdvancedChartSection-cell">Phase</th>
            </tr>
            {% for item in include.items.real %}
              <tr>
                <td class="AdvancedChartSection-cell">{{ item.financial_year }}</td>
                <td class="AdvancedChartSection-cell">{{ item.phase }}</td>
              </tr>
            {% endfor %}
          </table>
        </p>
      {% endif %}

      {% if include.type == "adjusted" %}
        {% assign text1 = include.source_type_adjusted | append: " " | append: include.year %}

        {% assign text3_adjusted = "Learn more about these changes in the " | append: include.source_type_adjusted | append: " as PDF" %}
        {% assign text4_adjusted = "Learn more about these changes in the " | append: include.source_type_adjusted | append: " as Excel" %}


        {% assign text3 = "Learn more about the Main Budget in the " | append: include.source_type | append: " as PDF" %}
        {% assign text4 = "Learn more about the Main Budget in the " | append: include.source_type | append: " as Excel" %}

        <p class="js-tooltips">
          These charts show changes to the spending plans originally published in the {{ include.source_type}}. These changes are published in the {{ include.source_type_adjusted }}.
        </p>

        <div class="AdvancedChartSection-indicatorsGrid">
          <div class="AdvancedChartSection-indicator u-marginBottom10">
            <div class="Title Title--interSection u-marginBottom10">
              Total adjustments
            </div>

            {%
              include scenes/department/AdvancedChartSection/components/ChangeIndicator/index.html
              percentage=include.items.total_change.percentage
              amount=include.items.total_change.amount
              icon="true"
              priority="true"
            %}

            <p>Total adjustment to the original budget for this department.</p>
          </div>

          <div class="AdvancedChartSection-indicator u-marginBottom10">
            <div class="Title Title--interSection u-marginBottom10">
              Virements
            </div>

            {%
              include scenes/department/AdvancedChartSection/components/ChangeIndicator/index.html
              percentage=include.items.virements.percentage
              amount=include.items.virements.amount
            %}

            <p>Changes to planned spending between categories within this department.</p>
          </div>
        </div>
      {% endif %}

      {% if include.dataset or include.guide or include.pdf or include.excel %}
        <ul class="LinksList">
          {%
            include components/LinksList/item.html
            prefix="Source"
            text=text1
            url=include.dataset
            type="dataset"
          %}

          {%
            include components/LinksList/item.html
            text=text2
            url=include.guide
            type="guides"
          %}

          {%
            include components/LinksList/item.html
            text=text3_adjusted
            url=include.pdf_adjusted
            type="download"
          %}

          {%
            include components/LinksList/item.html
            text=text4_adjusted
            url=include.excel_adjusted
            type="download"
          %}


          {%
            include components/LinksList/item.html
            text=text3
            url=include.pdf
            type="download"
          %}

          {%
            include components/LinksList/item.html
            text=text4
            url=include.excel
            type="download"
          %}
        </ul>
      {% endif %}
    </div>

    <div class="AdvancedChartSection-item AdvancedChartSection-item--right">
      <div class="Card">
        {% if include.type == "programmes" %}
          <div
            data-component="ChartAdaptor"
            data-type="programmes"
            data-items="{{ include.items | jsonify | escape }}"
            data-scale="2"
            data-title="{{ include.title | truncate: 45 }}"
            data-subtitle="{{ include.subtitle }}"
            data-description="{{ include.description }}"
          >
          </div>
        {% endif %}

        {% if include.type == "expenditure" %}
          <div
            data-component="ChartAdaptor"
            data-items="{{ include.items| jsonify | escape }}"
            data-type="expenditure"
            data-scale="2"
            data-color="{{ include.color }}"
            data-title="{{ include.title | truncate: 45 }}"
            data-subtitle="{{ include.subtitle }}"
            data-description="{{ include.description }}"
            data-rotated
          >
          </div>
        {% endif %}

        {% if include.type == "adjusted" %}
          {% if include.items and include.items.by_type %}
            <div class="Title Title--interSection u-marginBottom15">
              Adjustments by type
            </div>

            <div
              data-component="ChartAdaptor"
              data-items="{{ include.items.by_type | jsonify | escape }}"
              data-type="adjusted"
              data-scale="2"
              data-color="{{ include.color }}"
              data-title="Adjustments by type"
              data-subtitle="{{ include.subtitle }}"
              data-description=""
            >
            </div>
          {% endif %}

          {% if include.items == null %}
            <div class="Message Message--secondary u-marginBottom20">
              <div class="Message-content">
                {%
                  include components/universal/Icon/index.html
                  type="info"
                  size="large"
                %}
                <span class="Message-heading">
                  Please note
                </span>
              </div>
              <div class="Message-text Message-text--secondary">No adjusted budget data available for this year yet</div>
            </div>
          {% endif %}

          {% if include.items && include.items.by_type == null %}
            <div class="Title Title--interSection u-marginBottom15">
              Adjustments by type
            </div>

            <div class="Message Message--secondary u-marginBottom20">
              <div class="Message-content">
                {%
                  include components/universal/Icon/index.html
                  type="info"
                  size="large"
                %}
                <span class="Message-heading">
                  Please note
                </span>
              </div>
              <div class="Message-text Message-text--secondary">No adjustments were made to the total budget of this department</div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>

    {% if include.type == "adjusted" and include.items %}
      <div class="AdvancedChartSection-item">
        <div class="Card">
          <div class="Title Title--interSection">
            Total adjustments by economic classification
          </div>

          {% if include.items.econ_classes %}
            <div
              data-component="ChartAdaptor"
              data-type="adjusted"
              data-items="{{ include.items.econ_classes | jsonify | escape }}"
              data-scale="1"
              data-title="Total adjustments by economic classification"
              data-subtitle="{{ include.subtitle }}"
              data-description=""
            >
            </div>
          {% else %}
            <div class="Message Message--secondary u-marginBottom20">
              <div class="Message-content">
                {%
                  include components/universal/Icon/index.html
                  type="info"
                  size="large"
                %}
                <span class="Message-heading">
                  Please note
                </span>
              </div>
              <div class="Message-text Message-text--secondary">There were no adjustements to economic classification totals</div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="AdvancedChartSection-item AdvancedChartSection-item--right">
        <div class="Card">
          <div class="Title Title--interSection">
            Total adjustments by programme
          </div>

          {% if include.items.programmes %}
            <div
              data-component="ChartAdaptor"
              data-type="adjusted"
              data-items="{{ include.items.programmes | jsonify | escape }}"
              data-scale="1"
              data-title="Total adjustments by programme"
              data-subtitle="{{ include.subtitle }}"
              data-description=""
            >
            </div>
          {% else %}
            <div class="Message Message--secondary u-marginBottom20">
              <div class="Message-content">
                {%
                  include components/universal/Icon/index.html
                  type="info"
                  size="large"
                %}
                <span class="Message-heading">
                  Please note
                </span>
              </div>
              <div class="Message-text Message-text--secondary">There were no adjustements to programme totals</div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

  </div>
</div>
