<div class="AdvancedChartSection">
  <div class="AdvancedChartSection-info">
    {% if include.type == "programmes" %}
      <h3 class="Title Title--section">Programme budgets for {{ include.year }}</h3>
      <p class="js-tooltips">A department&#x27;s programmes are the activities that it spends money on during the financial year. Different programmes have different expenditure budgets, depending on their requirements and available finances. More detail on the programmes is available in the department's {{ include.sourceType }} documents.</p>
    {% endif %}

    {% if include.type == "expenditure" %}
      <h3 class="Title Title--section">Programme budgets for {{ include.year }}</h3>

      <p class="js-tooltips">
        Budgeted and actual expenditure/allocations for a department can increase or decrease from year to year. Changes in expenditure for a department can be because of changes in the activities of the department, because of changes in priorities between departments, because of cost efficiencies or because of increases in the price of goods and services due to inflation.
      </p>

      <p class="js-tooltips">
        The chart shows the department’s actual expenditure for past years, and budgeted expenditure for the current year and the upcoming three years of the medium-term expenditure framework (MTEF). By adjusting these numbers to take inflation into account, it is possible to determine if a department’s expenditure is really increasing or decreasing in real terms, as compared to the rest of the economy.
      </p>

      <p>
        Previous financial years indicate actual expenditure while upcoming financial years indicate estimated expenditure, in accordance with the following:

        <ul>
          <li>Audited Outcome (AO)</li>
          <li>Adjusted Appropriation (AA)</li>
          <li>Main appropriation (MA)</li>
          <li>Medium Term Estimates (MTE)</li>
        </ul>
      </p>
    {% endif %}

    {% assign text1 = include.source_type | append: " " | append: include.year %}
    {% assign text3 = "Learn more about these programmes in the " | append: include.source_type | append: " as PDF" %}
    {% assign text4 = "Learn more about these programmes in the " | append: include.source_type | append: " as Excel" %}

    {% if include.dataset or include.guide or include.pdf or include.excel %}
      <ul class="LinksList">
        {%
          include components/LinksList/item.html
          prefix="Source"
          text=text1
          url=include.dataset
          type="dataset"
        %}

        {%
          include components/LinksList/item.html
          text=text2
          url=include.guide
          type="guides"
        %}

        {%
          include components/LinksList/item.html
          text=text3
          url=include.pdf
          type="download"
        %}

        {%
          include components/LinksList/item.html
          text=text4
          url=include.excel
          type="download"
        %}
      </ul>
    {% endif %}

    <div class="AdvancedChartSection-share u-marginTop15">
      <div class="u-fontWeightBold u-marginBottom10">Share this chart:</div>
      <div data-component="Share" data-anchor="programmes-chart" data-color="{{ include.color }}"></div>
    </div>
  </div>

  <div class="AdvancedChartSection-chart">
    <div class="Card">
      {% if include.type == "programmes" %}
        <div 
          data-component="ChartAdaptor"
          data-type="programmes"
          data-items="{{ include.items | jsonify | escape }}"
          data-scale="2"
        >
        </div>
      {% endif %}

      {% if include.type == "expenditure" %}
        <div 
          data-component="ChartAdaptor"
          data-items="{{ include.expenditure_items_1 | jsonify | escape }}"
          data-type="expenditure"
          data-scale="2"
          data-color="{{ include.color }}"
        >
        </div>
      {% endif %}
    </div>
  </div>
</div>