
<div class="ExtraFooter">
  <div class="ExtraFooter-wrap">
    <div class="ExtraFooter-title">vulekamali is a project by the South African National Treasury and Imali Yethu</div>
    <div class="ExtraFooter-list">
      <a href="http://www.treasury.gov.za/" class="ExtraFooter-item">
        <img width="200" class="ExtraFooter-image ExtraFooter-image--larger" src="/assets/images/treasury-logo.jpg"/>
      </a>
      <a href="https://imaliyethu.org.za/" class="ExtraFooter-item">
        <img width="200" class="ExtraFooter-image" src="/assets/images/imali-yethu-logo-h.png"/>
      </a>
    </div>
  </div>
</div>