<div class="Search">
  <div class="Search-padding">
    <div class="Search-logoWrap">
      <div class="Search-mobileIcon js-mobileIcon">
        <svg class="Search-mobileSvg" width="0" height="0" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <path d="M5.8 19.7h88.4c3.2 0 5.8-2.6 5.8-5.9 0-3.3-2.6-5.9-5.8-5.9H5.8A5.8 5.8 0 0 0 0 13.8c0 3.3 2.6 5.9 5.8 5.9zm88.4 24.4H5.8A5.8 5.8 0 0 0 0 50c0 3.3 2.6 5.9 5.8 5.9h88.4c3.2 0 5.8-2.6 5.8-5.9 0-3.3-2.6-5.9-5.8-5.9zm0 36.2H5.8A5.9 5.9 0 0 0 0 86.2c0 3.3 2.6 5.9 5.8 5.9h88.4c3.2 0 5.8-2.6 5.8-5.9 0-3.3-2.6-5.9-5.8-5.9zm0 0"/>
        </svg>
      </div>
      <div class="Search-logo">
        <div class="Search-logoTitle">Online Budget Data Portal</div>
        <div class="Search-disclaimer">Early Preview</div>
      </div>
      <div class="Search-searchIcon js-searchIcon">
          <svg class="Search-icon Search-icon--large" width="0" height="0" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.9 100">
            <path d="M97.2 85.4L75.5 63.8l-.4-.3C79.5 57 82 49.3 82 41c0-22.6-18.3-41-41-41S0 18.3 0 41c0 22.6 18.3 41 41 41 8.3 0 16-2.5 22.5-6.7l.3.4 21.6 21.6c3.3 3.3 8.5 3.3 11.8 0 3.2-3.4 3.2-8.6 0-12zM41 67.7c-14.8 0-26.8-12-26.8-26.8 0-15 12-27 26.8-27s26.8 12 26.8 27c0 14.7-12 26.7-26.8 26.7z"></path>
          </svg>
      </div>
    </div>
    <div class="Search-container js-searchWrap">
        <div class="Search-functionWrap">

        <div class="Search-expand js-searchIconClose" aria-hidden>
          <div class="Search-expandText">Hide Search</div>
          <div class="Search-expandIcon"></div>
        </div>

        <div class="Search-function" data-year="{{ include.year }}">
          {% include components/Search/partials/skeleton-state.html %}
        </div>

      </div>
    </div>
  </div>
</div>

