.FileTypes {
  padding: 15px;
  background: #f0f0f0;

  @media screen and (min-width: 1050px) {
    max-width: 300px;
  }
}

.FileTypes-item {
  font-size: 14px;
  padding-left: 25px;
  position: relative;
  line-height: 1.4;
  @include clearfix;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #4a4a4a;
    border-radius: 50%;
    left: 0;
    top: 8px;
  }
}

.FileTypes-title {
  margin: 0 0 16px;
}

.FileTypes-itemTitle {
  display: block;
  float: left;
  color: #4a4a4a;
  padding: 4px;
  position: relative;
  bottom: 3px;
  left: -4px;
  max-width: 200px;

  &:hover {
    background: darken(#f0f0f0, 5%);
  }
}

.FileTypes-logo {
  width: 20px;
  height: 20px;
  border: 3px solid #4a4a4a;
  fill: #4a4a4a;
  border-radius: 50%;
  padding: 2px;
}

.FileTypes-logoWrap {
  line-height: 0;
  display: block;
  float: right;
  padding: 4px;
  position: relative;
  bottom: 3px;

  &:hover {
    background: darken(#f0f0f0, 5%);
  }
}

.FileTypes-text {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}
