.CsoPreview {
  height: 150px;
}

.CsoPreview-heading {
  height: 60px;
  overflow: hidden;
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 700;
  font-weight: 900;
  text-decoration: underline;
}

.CsoPreview-img {
  height: 80px;
  width: 160px;
  background-size: contain;
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 20px;
}

.CsoPreview-info {
  @include clearfix;
}

.CsoPreview-details {
  float: left;
  font-size: 12px;
  line-height: 1.5;
  width: 200px;
}
