.CsoLinks {
  padding: 13px 23px 33px 17px;
}

.CsoLinks-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.CsoLinks-link {
  color: #4a4a4a;
  position: relative;
  left: -5px;
  bottom: 3px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 5px 10px;

  &:hover {
    background: darken(white, 10%);
  }
}

.CsoLinks-item {
  font-size: 14px;
  padding-left: 25px;
  position: relative;
  line-height: 1.4;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #4a4a4a;
    border-radius: 50%;
    left: 0;
    top: 8px;
  }
}

.CsoLinks-label {
  display: block;
  text-decoration: underline;
  padding-bottom: 5px;
}
