<nav class="NavBar">
  <div class="NavBar-mobileWrap js-mobileTrigger">
    <div class="NavBar-mobileTrigger">
      {%
        include components/universal/Icon/index.html
        type="hamburger"
        size="large"
      %}
    </div>
  </div>
  <h2 class="u-sReadOnly">Navigate to a section on this site:</h2>
  <div class="NavBar-modalCover js-modalCover"></div>
  <div class="NavBar-container js-mobileShow">
    <div class="NavBar-wrap">
      <div class="NavBar-expand js-closeIcon" aria-hidden="">
        <div class="NavBar-expandText">Hide Menu</div>
        <div class="NavBar-expandIcon"></div>
      </div>
      <ul class="NavBar-list">

        {% for item in include.items %}

          {% comment %} Create alignment CSS class {% endcomment %}
          {% if item.align == 'right' %}
            {% assign alignmentClass = ' is-right' %}
          {% else %}
            {% assign alignmentClass = '' %}
          {% endif %}

          {% comment %} Create CSS class that highlights location {% endcomment %}
          {% if item.id == include.selected_tab %}
            {% assign activeClass = ' is-active' %}
            {% assign activeValue = true %}
          {% else %}
            {% assign activeClass = '' %}
            {% assign activeValue = false %}
          {% endif %}
          
          {% comment %} Create CSS that prevents parent from being highlighted as well on mobile {% endcomment %}
          {% if item.subLinks %}
            {% assign subLinkClass = ' has-subLinks' %}
          {% else %}
            {% assign subLinkClass = '' %}
          {% endif %}

          {% comment %} Create year specific URL if needed {% endcomment %}
          {% if item.year-range %}
            {% assign finalUrl = include.latest_year | append: "/" | append: item.url %}
          {% else %}
            {% assign finalUrl = item.url %}
          {% endif %} 


          <li class="NavBar-item{{ alignmentClass }}">
            <a
              class="NavBar-link{{ activeClass }}{{ subLinkClass }}"
              href="/{{ finalUrl }}"
            >

              {% if item.id == 'homepage' %}
                <span class="NavBar-iconWrap">
                  {%
                    include components/universal/Icon/index.html
                    type="home"
                    size="large"
                  %}
                </span>
                <span class="NavBar-text is-mobileOnly">Home</span>
              {% else %}
                <span class="NavBar-text">{{ item.title }}</span>
              {% endif %}

            </a>
            
            {% if item.children %}
              {%
                include components/header-and-footer/SubLinks/index.html 
                items=item.children
                active=activeValue
                layout=include.layout
                selected_sidebar=include.selected_sidebar
              %}
            {% endif %}
          </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</nav>