{% if include.resources.size > 0 %}

{% assign excelIcon = '<svg version="1.2" width="12" height="14.84" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 123.7"><path d="M32 0L0 33.8v90h100V0H32zm-2.8 14.2v15H15l14.2-15zm63 101.8H7.8V37H37V7.7H92V116zm0 0"></path><path d="M47.2 58h2v-7H25v7h3c.8 0 1.6.3 2.4.8.8.4 1.6 1.2 2.3 2.3L44.3 80 32.8 96.3c-.6 1-1.2 1.7-1.7 2.3-.3.5-.8 1-1.2 1.3l-1.2.5-1.8.2h-2.4v7h21.4v-5l-.2-2h-2c-1.7 0-2.4 0-2.7-.3v-.7c0-.3.2-.7.4-1l.5-1 .5-1L49 87l7 11.3.6 1 .2.7v.4s-.3.4-2.4.4H52v7H76v-7h-3c-.5 0-1-.2-1.7-.6-.4-.3-1.3-1-2.3-2.4l-13-21 10-14.2c.6-1 1-1.7 1.7-2.3l1.4-1.4 1-.7 1.5-.2H74v-7H54v7h3.3c.3.2.6.2.7.2 0 .4 0 .8-.3 1.3-.3.7-.7 1.4-1.2 2l-5.3 8.2-5-8.2c-.5-.6-.8-1-1-1.5l-.4-1v-.3c0-.2 0-.3-.2-.4l.6-.2c.5.2 1 0 2 0zm0 0"></path></svg>' %}

{% assign pdfIcon = '<svg version="1.2" width="12" height="14.84" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.8 100"><path d="M32.5 39.5c.5 5.7.8 16.4-3.5 24.8l-1 2c-7.5 2.3-15.3 6.6-16.7 11.4-.5 2 0 3.8 1.3 5.2 1.4 1.4 3 2 5 2 4.6 0 9.4-4.3 14.6-13.3 2-.5 12.8-1.8 15-1.8 6.4 6.3 11.5 9.5 15.6 9.5 2.6 0 5-1.3 6.2-3.6 1-1.7 1-3.6 0-5.2-2.6-4.7-12.8-6.6-19-7l-1.5-2c-6.2-7-8.8-17.5-9.7-23 0-1.2-.3-2.3-.4-3-.4-3-2.2-3.4-3.3-3.4-.8 0-1.7.4-2.3 1-1 1.2-.8 2.4-.7 3.2l.5 3zM18 78.7c.5-.7 1.7-1.6 3.4-2.7-1.6 1.8-2.8 2.6-3.5 2.7zM62.5 73C62 73 61 73 59.4 72l3.2 1.3zM38 57.4c1.2 2.4 2.5 4.5 4 6.5-.8 0-5.7.7-6.2.8 1-2.3 1.7-4.7 2.2-7.3zm0 0"></path><path d="M26 0L0 27.3V100h80.8V0h-55zm-2.4 11.5v12H12l11.6-12zm51 82.3H6.2v-64h23.6V6.4h44.7v87.5zm0 0"></path></svg>' %}

<div class="Resources">
  <div class="Resources-box">
    <div class="Resources-title">Data from treasury</div>
    <ul class="Resources-list">
      {% for item in include.resources %}
        <li class="Resources-item">
          <div class="Resources-name">{{ item[0] }}</div>
          <div class="Resources-description">{{ item[1].description }}</div>
          <ul class="Resources-links">
            {% for format in item[1].formats %}
              <li class="Resources-linkWrap">
                {%
                  if format.format == 'XLS' or
                  format.format == 'XLSX' or
                  format.format == 'XLSM' or
                  format.format == 'XLSB'
                %}
                  <a class="Resources-link" href="{{ format.url }}">
                    <span class="Resources-icon">{{ excelIcon }}</span>
                    <span class="Resources-text">Save Data (Excel)</span>
                  </a>
                {% endif %}

                {% if format.format == 'PDF' %}
                  <a class="Resources-link" href="{{ format.url }}" target="_blank">
                    <span class="Resources-icon">{{ pdfIcon }}</span>
                    <span class="Resources-text">Save PDF</span>
                  </a>
                {% endif %}

              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endif %}
