@keyframes expand {
  0% {
    stroke-dashoffset: 100%;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.BarChart-svg {
  overflow: hidden;
}

.BarChart-tooltip {
  .BarChart-svg.is-hoverable & {
    cursor: pointer;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}
