<div class="Intro">
  <div class="Intro-title">The national revenue fund, administered by the National Treasury, is distributed to these three levels of government.</div>
  <div class="Intro-stats">
    <a class="Intro-item">
      <div class="Intro-number">41</div>
      <span class="Intro-text" href="#">National departments</a>
    </a>
    <a class="Intro-item">
      <div class="Intro-number">128</div>
      <span class="Intro-text" href="#">Provincial departments</a>
    </a>
    <a class="Intro-item">
      <div class="Intro-number">257</div>
      <span class="Intro-text" href="#">Metropolitan, district & local Municipalities</a>
    </a>
  </div>
</div>