<section class="Intro">
  <h2 class="Intro-title">The national revenue fund, administered by the National Treasury, is distributed to these three levels of government.</h2>
  <ul class="Intro-stats">
    <li>
      <a class="Intro-item">
        <span class="Intro-number">41</span>
        <span class="Intro-text" href="#">National departments</a>
      </a>
    </li>
    <li>
      <a class="Intro-item">
        <span class="Intro-number">128</span>
        <span class="Intro-text" href="#">Provincial departments</a>
      </a>
    </li>
    <li>
      <a class="Intro-item">
        <span class="Intro-number">257</span>
        <span class="Intro-text" href="#">Metropolitan, district & local Municipalities</a>
      </a>
    </li>
  </div>
</section>