

<section class="Intro">
  <h2 class="Intro-title js-tooltips">The national revenue fund, administered by the <a href="http://www.treasury.gov.za/" class="Link">National Treasury</a>, is distributed to these three levels of government according to allocated expenditure.</h2>
  <ul class="Intro-stats">
    <li class="Intro-itemWrap">
      <a class="Intro-item" href="/{{ include.year }}/departments?spheres=national">
        <span class="Intro-number">41</span>
        <span class="Intro-text" >National departments</span>
      </a>
    </li>
    <li class="Intro-itemWrap">
      <a class="Intro-item" href="/{{ include.year }}/departments?spheres=provincial">
        <span class="Intro-number">128</span>
        <span class="Intro-text" >Provincial departments</span>
      </a>
    </li>
    <li class="Intro-itemWrap">
      <a class="Intro-item" href="#">
        <span class="Intro-number">257</span>
        <span class="Intro-text">Metropolitan, district & local Municipalities</span>
      </a>
    </li>
  </ul>
</section>