<ul class="u-listReset CsoDirectory">

  {% for dataset in include.datasets %}
  <li class="CsoDirectory-itemWrap">
    <a class="CsoDirectory-item" href="{{ dataset.url_path }}" title="{{ dataset.name }}">
      <div class="CsoDirectory-cover"></div>
      <div class="CsoDirectory-box">
        <h3 class="CsoDirectory-title">{{ dataset.name }}</h3><span class="CsoDirectory-contributor">Data provided by {{ dataset.organization.name }}</span>
        <div class="CsoDirectory-imgWrap"><img class="CsoDirectory-img" src="{{ dataset.organization.logo_url }}" alt="Contributor logo"/></div>
      </div>
      <ul class="CsoDirectory-box is-dark">
        <li class="CsoDirectory-metaData">Total resources: {{ dataset.resources.size }}</li>
        <li class="CsoDirectory-metaData">First uploaded: {{ dataset.created | date_to_long_string }}</li>
        <li class="CsoDirectory-metaData">Last updated: {{ dataset.last_updated | date_to_long_string }}</li>
      </ul>
    </a>
  </li>
  {% endfor %}

</ul>
