<ul>
  <li>National Treasury issues Medium-term expenditure framework (MTEF) budget guidelines, requesting 3-year expenditure estimates from departments.</li>
  <li>Parliament decides on priorities for the third Parliamentary term.</li>
  <li>Parliament conducts oversight visits, study tours and special projects.</li>
</ul>

<h3 class="Page-subHeading">How can I participate?</h3>

<ul>
  <li>Lobby parliament and MPs for specific oversight visits.</li>
  <li>Participate in parliamentary oversight visits.</li>
</ul>
