<h3 class="Section-title is-small">What are Treasury, Departments and Parliament busy with?</h3>

<ul>
  <li>National Treasury issues budget guidelines to departments requesting budget submissions, including their 3-year expenditure estimates, in accordance with the adopted budget strategy and planned budget process.</li>
  <li>Departments engage with analysts on departmental budgets and the drafting of budget submissions.</li>
  <li>Parliament reviews each department's budget, including the department's Annual Performance Plan (APP) and Strategic Plan (SP).</li>
</ul>

<h3 class="Section-title is-small">How can I participate?</h3>

<ul>
  <li>Review the department's Annual Annual Performance Plans (APPs) and Strategic Plans (SPs).</li>
  <li>Engage government departments and relevant committees on the content of the APPs and SPs and whether departmental budgets have been properly prioritised.</li>
</ul>
