html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%; }
h1 {
  font-size: 2em;
  margin: 0.67em 0; }
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }
main {
  display: block; }
pre {
  font-family: monospace, monospace;
  font-size: 1em; }
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }
b,
strong {
  font-weight: bolder; }
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }
small {
  font-size: 80%; }
audio,
video {
  display: inline-block; }
img {
  border-style: none; }
svg:not(:root) {
  overflow: hidden; }
button,
input,
optgroup,
select,
textarea {
  margin: 0; }
button {
  overflow: visible;
  text-transform: none; }
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }
fieldset {
  padding: 0.35em 0.75em 0.625em; }
input {
  overflow: visible; }
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }
progress {
  display: inline-block;
  vertical-align: baseline; }
select {
  text-transform: none; }
textarea {
  overflow: auto; }
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }
details {
  display: block; }
summary {
  display: list-item; }
canvas {
  display: inline-block; }
template {
  display: none; }
[hidden] {
  display: none; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #4a4a4a;
  overflow-y: scroll; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.u-sReadOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.Page {
  display: table;
  width: 100%;
  min-height: 100%; }

.Page-title {
  font-size: 28px;
  line-height: 1.29;
  padding-bottom: 25px; }

.Page-head {
  height: 1%;
  display: table-row; }

.Page-content {
  height: 98%;
  display: table-row; }

.Page-sidebar {
  width: 100%;
  padding-top: 30px;
  float: right; }
  @media screen and (min-width: 1050px) {
    .Page-sidebar {
      padding: 0;
      width: 300px; } }

.Page-contentWrap {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 10px 40px; }
  .Page-contentWrap::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 300px) {
    .Page-contentWrap {
      padding: 15px 40px 40px; } }

.Page-footer {
  height: 1%;
  display: table-row; }

.Page-main {
  float: left; }

.Search {
  padding: 30px;
  background-color: #f0f0f0;
  width: 100%; }

.Search-wrap {
  position: relative;
  z-index: 30;
  max-width: 600px;
  margin: 0 auto; }
  .Search-wrap.is-focused {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.Search-form {
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  border: solid 1px #979797;
  display: table;
  width: 100%; }

.Search-keywords {
  display: table-cell;
  font-size: 14px;
  padding: 13px;
  border: none;
  width: 100%;
  height: 100%;
  vertical-align: top; }

.Search-action {
  display: table-cell;
  width: 1px;
  vertical-align: top;
  border-left: 1px solid #979797; }

.Search-button {
  padding: 12px 16px;
  border: none;
  display: block;
  width: 100%;
  background-color: #d2d2d2;
  cursor: pointer; }
  .Search-button:hover {
    background-color: #acacac; }

.SiteHead-icon {
  width: 18px;
  height: 17px; }

.Search-results {
  background-color: white;
  font-size: 14px;
  line-height: 24px;
  padding: 13px 8px;
  position: absolute;
  top: 100%;
  width: 100%;
  border-left: solid 1px #9b9b9b;
  border-right: solid 1px #9b9b9b;
  border-bottom: solid 1px #9b9b9b;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: none; }
  .Search-results.is-open {
    display: block; }

.Search-title {
  font-weight: 600;
  padding: 0 10px; }

.Search-list {
  padding-left: 0;
  list-style: none; }

.Search-item {
  text-decoration: none; }

.Search-loading {
  padding: 0 10px; }

.Search-loading::after {
  position: relative;
  top: 8px;
  left: 10px;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-right: 3px solid #4a4a4a;
  -webkit-animation: spin 0.5s linear 0s infinite;
          animation: spin 0.5s linear 0s infinite; }

.Search-link {
  display: block;
  text-decoration: none;
  color: #4a4a4a;
  padding: 0 10px;
  border-radius: 5px; }
  .Search-link:hover {
    background-color: #d9d9d9; }

.YearSelect {
  background-color: #4a4a4a;
  text-align: center;
  padding: 5px 20px; }

.YearSelect-title {
  color: white;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px; }

.YearSelect-content {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  position: relative;
  max-width: 100px;
  height: 48px;
  margin: 10px 0; }
  @media screen and (min-width: 550px) {
    .YearSelect-content {
      height: auto;
      max-width: 420px; } }

.YearSelect-bar {
  background: white;
  overflow: hidden;
  border-radius: 3px;
  border: solid 1px #9b9b9b;
  padding-left: 0;
  margin: 5px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .YearSelect-bar::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 550px) {
    .YearSelect-bar {
      position: static;
      display: block; } }
  @media screen and (min-width: 950px) {
    .YearSelect-bar {
      width: auto; } }

.YearSelect-item {
  list-style: none;
  float: left;
  width: 100%;
  display: none;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }
  @media screen and (min-width: 550px) {
    .YearSelect-item {
      display: block;
      width: 33.33333%; }
      .YearSelect-item::after {
        display: none !important; } }
  .YearSelect-item.is-active {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: inline-block; }
    .YearSelect-bar.is-open .YearSelect-item.is-active {
      border-bottom: 1px solid #4a4a4a; }
    .YearSelect-item.is-active:first-child {
      border-left-width: 0; }
    .YearSelect-item.is-active:last-child {
      border-right-width: 0; }
    .YearSelect-item.is-active::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top: 5px solid #4a4a4a;
      margin-left: 5px;
      position: relative;
      top: 3px; }
    @media screen and (min-width: 550px) {
      .YearSelect-item.is-active {
        cursor: default;
        border-left: solid 1px #9b9b9b;
        border-right: solid 1px #9b9b9b;
        display: block;
        background-color: #d2d2d2;
        border-bottom-width: 0 !important; } }
  .YearSelect-bar.is-open .YearSelect-item {
    display: block; }

.YearSelect-link {
  width: auto;
  font-size: 14px;
  text-decoration: none;
  color: #4a4a4a;
  padding: 10px 0;
  display: inline-block; }
  .YearSelect-bar:not(.is-open) .YearSelect-item:not(.is-active) .YearSelect-link:hover {
    background-color: #d9d9d9; }
  @media screen and (min-width: 550px) {
    .YearSelect-link {
      width: 100%; } }

.Footer {
  background-color: #f0f0f0;
  font-size: 14px;
  line-height: 2.14; }

.Footer-column {
  display: inline-block;
  font-size: 0; }

.Footer-title {
  font-size: 18px;
  font-weight: 600; }

.Footer-wrap {
  padding: 30px 0 35px;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 500px) {
    .Footer-wrap {
      padding: 30px 120px 35px; } }

.Footer-link {
  font-size: 14px;
  text-decoration: none;
  color: #4a4a4a;
  display: inline-block;
  border-radius: 3px;
  padding: 0 20px; }
  .Footer-link:hover {
    background-color: #e3e3e3; }

.Footer-list {
  list-style: none;
  padding-left: 0; }

.Footer-container {
  padding-left: 0; }

.NavBar {
  background-color: #e6e6e6; }

.NavBar-icon {
  fill: #4a4a4a;
  width: 20px;
  height: 20px; }

.NavBar-wrap {
  background-color: #e6e6e6;
  width: 100%; }

.NavBar-item {
  list-style: none;
  float: left; }

.NavBar-link {
  height: 100%;
  display: block;
  padding: 16px 20px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #4a4a4a; }
  .NavBar-link--icon {
    padding: 15px 20px; }
  .NavBar-link:not(.NavBar-link--icon):hover {
    background-color: silver; }
  .NavBar-link--active {
    background-color: white; }

.NavBar-list {
  list-style: none;
  max-width: 1024px;
  margin: 0 auto; }
  .NavBar-list::after {
    clear: both;
    content: "";
    display: block; }

.RelatedBox {
  border-radius: 2px;
  background-color: #e6e6e6;
  padding: 10px; }

.RelatedBox-title {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3; }

.RelatedBox-item {
  float: left;
  height: 120px;
  padding: 10px;
  text-align: center;
  display: table;
  width: 100%; }
  @media screen and (min-width: 450px) {
    .RelatedBox-item {
      width: 50%; } }
  @media screen and (min-width: 750px) {
    .RelatedBox-item {
      width: 33.33333%; } }
  @media screen and (min-width: 1050px) {
    .RelatedBox-item {
      width: 50%; } }

.RelatedBox-link {
  display: table-cell;
  background-color: white;
  vertical-align: middle;
  font-size: 18px;
  color: #4a4a4a; }
  .RelatedBox-link:hover {
    background-color: #d9d9d9; }

.RelatedBox-items {
  padding-left: 0; }
  .RelatedBox-items::after {
    clear: both;
    content: "";
    display: block; }

@media screen and (min-width: 1050px) {
  .Intro {
    width: 625px; } }

.Intro-title {
  font-size: 18px;
  line-height: 1.4; }

.Intro-stats {
  margin: 0 auto;
  padding: 15px 0;
  display: table;
  list-style: none; }
  .Intro-stats::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 1050px) {
    .Intro-stats {
      display: block;
      margin: 0; } }

.Intro-itemWrap {
  width: 100%;
  float: left;
  cursor: pointer; }
  @media screen and (min-width: 800px) {
    .Intro-itemWrap {
      position: relative; } }
  @media screen and (min-width: 750px) {
    .Intro-itemWrap {
      padding: 0 30px;
      width: auto; } }
  .Intro-itemWrap:first-child {
    padding-left: 0; }
  .Intro-itemWrap:last-child {
    padding-right: 0; }

.Intro-item {
  padding: 20px;
  border-radius: 5px;
  background-color: #d8d8d8;
  width: 100%;
  display: block;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none; }
  .Intro-item:hover {
    background-color: #b2b2b2; }
  @media screen and (min-width: 750px) {
    .Intro-item {
      border-radius: 50%;
      padding: 0;
      width: 160px;
      height: 160px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.Intro-number {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 7px;
  color: #4a4a4a; }

.Intro-text {
  font-size: 16px;
  display: block;
  text-align: center;
  color: #4a4a4a;
  line-height: 1.4;
  text-decoration: underline; }
  @media screen and (min-width: 750px) {
    .Intro-text {
      width: 110px; } }

.Into-alert {
  font-weight: normal;
  z-index: 40;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  cursor: default;
  display: none; }
  @media screen and (min-width: 800px) {
    .Into-alert {
      background: none; } }
  .Into-alert.is-active {
    display: block; }

.Intro-alertBox {
  position: static;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  @media screen and (min-width: 800px) {
    .Intro-alertBox {
      position: relative; } }

.Intro-content {
  position: static;
  max-width: 355px;
  padding: 10px 10px 20px; }
  @media screen and (min-width: 800px) {
    .Intro-content {
      width: 355px;
      position: absolute;
      bottom: calc(100% - 10px); } }

.Intro-shadowBox {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
  padding: 15px;
  position: relative;
  font-size: 14px; }

.Intro-triangleWrap {
  display: none; }
  @media screen and (min-width: 800px) {
    .Intro-triangleWrap {
      display: block;
      position: absolute;
      overflow: hidden;
      height: 20px;
      width: 40px;
      left: 45%;
      left: calc(50% - 20px);
      top: 100%; } }

.Intro-triangle {
  position: relative;
  top: -30px;
  display: block;
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.Intro-alertTitle {
  padding-bottom: 5px;
  display: inline-block;
  line-height: 1.64;
  color: #4a4a4a;
  font-weight: bold; }

.Intro-alertText {
  line-height: 1.64;
  display: block;
  padding-bottom: 10px; }

.Intro-linkWrap {
  line-height: 1.64;
  color: #4a4a4a;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px; }
  .Intro-linkWrap:hover {
    background-color: #e6e6e6; }

.Intro-alertLink {
  text-decoration: underline;
  margin-left: 3px; }

.DeptSearch-keywords {
  border: solid 1px #9b9b9b;
  border-radius: 3px;
  padding: 9px 13px;
  font-size: 14px;
  min-width: 300px;
  display: inline-block; }

.DeptSearch-select {
  border-radius: 3px;
  border: solid 1px #9b9b9b;
  padding-left: 0;
  display: inline-block;
  min-width: 170px;
  margin: 0;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white; }

.DeptSearch-selectWrap {
  display: inline-block;
  vertical-align: top;
  max-height: 36px; }

.DeptSearch-label {
  cursor: pointer;
  padding: 9px 13px;
  font-size: 14px;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .DeptSearch-label:hover {
    background-color: #d9d9d9; }
  .DeptSearch-item.is-active .DeptSearch-label::after {
    content: '';
    display: inline-block;
    float: right;
    width: 0;
    height: 0;
    position: relative;
    border: 5px solid transparent;
    border-top: 5px solid #4a4a4a;
    margin-left: 10px;
    top: 5px;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    transition: top 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, top 0.3s;
    transition: transform 0.3s, top 0.3s, -webkit-transform 0.3s; }
    .DeptSearch-select.is-open .DeptSearch-item.is-active .DeptSearch-label::after {
      top: 2px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

.DeptSearch-item {
  background: white;
  cursor: pointer;
  list-style: none;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  display: none; }
  .DeptSearch-select.is-open .DeptSearch-item {
    z-index: 10;
    display: block; }
  .DeptSearch-item.is-active {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    display: block; }
    .DeptSearch-select.is-open .DeptSearch-item.is-active {
      border-bottom: 1px solid #9d9d9d; }

.DeptSearch-radio {
  display: none; }

.DeptSearch-divider {
  padding: 10px 10px 10px 0;
  display: inline-block;
  font-size: 14px; }
  @media screen and (min-width: 800px) {
    .DeptSearch-divider {
      padding-left: 20px; } }

.DeptSearch-group {
  padding-top: 30px;
  line-height: 1.5; }
  .DeptSearch-group::after {
    clear: both;
    content: "";
    display: block; }
  .DeptSearch-group--blank {
    opacity: 0.3; }

.DeptSearch-title {
  padding: 0 7px;
  font-size: 14px;
  font-weight: 600; }

.DeptSearch-link {
  font-size: 14px;
  color: #4a4a4a;
  text-decoration: none;
  border-radius: 3px;
  padding: 0 7px;
  display: block; }
  .DeptSearch-link:hover {
    background-color: #f2f2f2; }
  @media screen and (min-width: 900px) {
    .DeptSearch-link {
      float: left;
      width: 50%; } }

.DeptSearch-list {
  list-style: none;
  padding-left: 5px; }

.DeptSearch-results {
  padding-left: 0;
  list-style: none; }

.DeptSearch-items {
  padding-left: 0;
  list-style: none; }

.DeptSearch-filterGroup {
  padding-top: 15px;
  vertical-align: top; }
  @media screen and (min-width: 800px) {
    .DeptSearch-filterGroup {
      display: inline-block;
      padding: 0; } }

.SearchResult-group {
  background-color: #f3f3f3;
  font-size: 14px;
  line-height: 1.86;
  padding: 10px; }

.SearchResult-title {
  font-weight: 600;
  padding: 5px 10px; }

.SearchResult-link {
  padding: 5px 10px;
  display: block;
  color: #4a4a4a;
  text-decoration: none; }
  .SearchResult-link:nth-child(odd) {
    background-color: white; }
  .SearchResult-link:hover {
    background-color: #d9d9d9; }

.SearchResult-heading {
  font-size: 24px;
  font-weight: 600; }

.SearchResult-heading {
  padding: 15px 0; }

.SearchResult-select {
  border-radius: 3px;
  border: solid 1px #9b9b9b;
  padding-left: 0;
  display: inline-block;
  min-width: 170px;
  margin: 0;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white; }

.SearchResult-selectWrap {
  display: inline-block;
  vertical-align: top;
  max-height: 36px; }

.SearchResult-item {
  background: white;
  z-index: 10;
  cursor: pointer;
  padding: 9px 13px;
  font-size: 14px;
  list-style: none;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  display: none; }
  .SearchResult-item:hover {
    background-color: #d9d9d9; }
  .SearchResult-select.is-open .SearchResult-item {
    display: block; }
  .SearchResult-item.is-active {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    display: block; }
    .SearchResult-select.is-open .SearchResult-item.is-active {
      border-bottom: 1px solid #9d9d9d; }
    .SearchResult-item.is-active::after {
      content: '';
      display: inline-block;
      float: right;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top: 5px solid #4a4a4a;
      position: relative;
      top: 5px;
      margin-left: 10px; }

.SearchResult-radio {
  display: none; }

.SearchResult-form {
  float: right; }

.SearchResult-formWrap {
  padding-bottom: 25px; }
  .SearchResult-formWrap::after {
    clear: both;
    content: "";
    display: block; }

.SearchResult-button {
  margin: 20px auto;
  display: block;
  padding: 10px;
  border-radius: 3px;
  background-color: #d2d2d2;
  border: solid 1px #9b9b9b;
  cursor: pointer; }
  .SearchResult-button:hover {
    background-color: #b9b9b9; }

.SearchResult-count {
  width: 50px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 5px;
  margin: 0 5px 0 7px; }

.SearchResult-countWrap {
  display: inline-block;
  float: right; }

.Tooltip {
  display: inline-block;
  cursor: pointer; }
  .Tooltip::after {
    content: '';
    display: block;
    position: relative;
    bottom: 6px;
    width: 100%;
    border-bottom: 1px dashed #4a4a4a; }
  @media screen and (min-width: 800px) {
    .Tooltip {
      position: relative; } }
  .Tooltip:hover {
    background-color: #e6e6e6; }

.Tooltip-phrase {
  display: inline-block; }

.Tooltip-boxWrap {
  display: none;
  font-weight: normal;
  z-index: 40;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  cursor: default; }
  @media screen and (min-width: 800px) {
    .Tooltip-boxWrap {
      background: none; } }
  .Tooltip-boxWrap.is-open {
    display: block; }

.Tooltip-box {
  position: static;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  @media screen and (min-width: 800px) {
    .Tooltip-box {
      position: relative; } }

.Tooltip-content {
  position: static;
  max-width: 250px;
  padding: 10px 10px 20px; }
  @media screen and (min-width: 800px) {
    .Tooltip-content {
      width: 250px;
      position: absolute;
      bottom: calc(100% - 10px); } }

.Tooltip-shadowBox {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
  padding: 15px;
  position: relative;
  font-size: 14px; }

.Tooltip-triangleWrap {
  display: none; }
  @media screen and (min-width: 800px) {
    .Tooltip-triangleWrap {
      display: block;
      position: absolute;
      overflow: hidden;
      height: 20px;
      width: 40px;
      left: 105px;
      top: 100%; } }

.Tooltip-triangle {
  position: relative;
  top: -30px;
  display: block;
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.Tooltip-title {
  padding-bottom: 5px;
  display: inline-block;
  line-height: 1.64;
  color: #4a4a4a;
  font-weight: bold; }

.Tooltip-text {
  line-height: 1.64;
  display: block;
  padding-bottom: 10px; }

.Tooltip-linkWrap {
  line-height: 1.64;
  color: #4a4a4a;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px; }
  .Tooltip-linkWrap:hover {
    background-color: #e6e6e6; }

.Tooltip-link {
  text-decoration: underline;
  margin-left: 3px; }

.Link {
  color: #4a4a4a; }

/*# sourceMappingURL=styles.564f0311ce6ce06b3d557be80d0b5896.css.map*/