.FileTypes {
  padding: 15px;
  border-radius: 20px;
  background-color: #7bb344;
  border: solid 1px #d2d2d2;
}

.FileTypesWrap {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #d2d2d2;
  padding: 18px 27px 22px;
}

.FileTypes-item {
  font-size: 14px;
  padding-left: 5px;
  position: relative;
  line-height: 1.4;
  padding-bottom: 20px;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #4a4a4a;
    border-radius: 50%;
    left: -12px;
    top: 8px;
  }
}

.FileTypes-title {
  margin: 0 0 16px;
  font-weight: bold;
  font-weight: 900;
  font-size: 18px;
}

.FileTypes-link {
  border-radius: 3px;
  padding: 2px;
  display: table;
  width: 100%;

  &:hover {
    background: darken(#f0f0f0, 5%);
  }
}

.FileTypes-itemTitle {
  display: table-cell;
  float: left;
  color: #4a4a4a;
  padding: 2px 4px;
  word-wrap: break-word;
  text-decoration: underline;
  width: 100%;
  vertical-align: middle;
}

.FileTypes-iconArea {
  padding-right: 2px;
  width: 1px;
  display: table-cell;
  line-height: 0;
  vertical-align: middle;
}

.FileTypes-logoWrap {
  fill: #4a4a4a;
  text-align: center;
  padding: 2px;
  width: 22px;
  height: 22px;
  border: 3px solid #4a4a4a;
  display: block;
  border-radius: 50%;
}

.FileTypes-text {
  padding-bottom: 7px;
}
