.CsoRequest {
  @media screen and (min-width: 1050px) {
    display: table;
  }
}

.CsoRequest-info {
  @media screen and (min-width: 1050px) {
    display: table-cell;
    width: 100%;
  }
}

.CsoRequest-button {
  padding-top: 16px;
  text-align: left;

  @media screen and (min-width: 1050px) {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    width: 1px;
    text-align: right;
  }
}
