{% comment %} Determine whether children should show in sidebar {% endcomment %}
{% if include.activeValue %}
  {% assign parentActiveClass = ' is-active' %}
{% else %}
  {% assign parentActiveClass = '' %}
{% endif %} 


<div class="SubLinks{{ parentActiveClass }}">
  <ul class="SubLinks-subItems">

    {% for item in items %}

      {% comment %} Determine whether children should show in sidebar {% endcomment %}
      {% if include.selected_sidebar == item.id %}
        {% assign activeClass = ' is-active' %}
      {% else %}
        {% assign activeClass = '' %}
      {% endif %} 

      <li class="SubLinks-subItem{{ activeClass }}">
        <a class="SubLinks-subLink"{{ dataAttribute }} href="/{{ item.url }}">
          {{ items.title }}
        </a>
      </li>
    {% endfor %}

  </ul>
<div>