<div class="Progress">
  <ul class="Progress-wrap">
    <li class="Progress-pin">Plan<span class="Progress-icon">
        <svg class="Progress-icon" version="1.2" baseProfile="tiny" width="0" height="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 76.6">
          <path d="M98.2 10.6l-8.8-8.8C88.2.6 86.8 0 85 0c-1.7 0-3.2.6-4.4 1.8L38.3 44.2l-19-19C18 24 16.6 23.4 15 23.4s-3.3.6-4.5 1.8L1.7 34C.7 35 0 36.6 0 38.3c0 1.7.6 3.2 1.8 4.4L25.2 66l8.8 9c1.2 1 2.7 1.7 4.4 1.7 1.7 0 3.2-.6 4.4-1.8l8.8-9 46.7-46.6c1.2-1.2 1.8-2.7 1.8-4.4s-.6-3.2-1.8-4.4zm0 0"></path>
        </svg></span></li>
    <li class="Progress-pin is-active">Stage One</li>
    <li class="Progress-pin">Stage Two</li>
    <li class="Progress-pin">Stage Three</li>
    <li class="Progress-pin">Stage Four</li>
  </ul>
</div>