.Grid {
  @include clearfix;
}

.Grid-item {
  @media screen and ($standard-breakpoint) {
    float: left;

    .Grid.is-twoCol & {
      @media screen and ($standard-breakpoint) {
        &:nth-of-type(2n) {
          padding-left: 15px;
        }

        &:nth-of-type(2n + 1) {
          padding-right: 15px;
        }
      }
    }

    &.is-half {
      width: 50%;
    }

    &.is-third {
      width: (100% / 3);
    }

    &.is-twoThirds {
      width: (100% / 3) * 2;
    }
  }
}
