
.Share-title {
  padding-bottom: 10px;
}

.Share-action {
  display: table;
}

.Share-select {
  display: table-cell;
  width: 100%;
  padding-right: 5px;
}

.Share-button {
  display: table-cell;
}
