.Card {
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px 40px;
}

.Card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
