.ExpenditureChart-table {
  margin-top: 20px;
  border: 1px solid $colour-shading-dark;
  font-size: 11px;
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
}

.ExpenditureChart-heading {
  padding: 5px 10px;
  border: 1px solid $colour-shading-dark;
  text-align: left;
}

.ExpenditureChart-cell {
  padding: 5px 10px;
  border: 1px solid $colour-shading-dark;
}

.ExpenditureChart-inflation {
  text-align: center;
  font-family: verdana;
  font-size: 11px;
}

.ExpenditureChart-radio {
  display: block;
  padding: 10px 0;

  @media screen and (min-width: 500px) {
    display: inline-block;
    padding: 0;
  }
}

.ExpenditureChart-share {
  max-width: 250px;
}

.ExpenditureChart {
  @media screen and ($tablet-breakpoint) {
    @include clearfix;
  }
}

.ExpenditureChart-info {
  @media screen and ($tablet-breakpoint) {
    width: 40%;
    float: left;
  }
}

.ExpenditureChart-chart {
  @media screen and ($tablet-breakpoint) {
    width: 60%;
    float: right;
  }
}
