.DeptSearch-keywords {
  border: solid 1px #9b9b9b;
  border-radius: 3px;
  padding: 9px 13px;
  font-size: 14px;
  min-width: 300px;
  display: inline-block;
}

.DeptSearch-select {
  border-radius: 3px;
  border: solid 1px #9b9b9b;
  padding-left: 0;
  display: inline-block;
  min-width: 170px;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  background-color: white;
}

.DeptSearch-selectWrap {
  display: inline-block;
  vertical-align: top;
  max-height: 36px;
}

.DeptSearch-item {
  background: white;
  cursor: pointer;
  padding: 9px 13px;
  font-size: 14px;
  list-style: none;
  order: 1;
  display: none;

  .DeptSearch-select.is-open & {
    z-index: 10;
  }

  &:hover {
    background-color: darken(white, 15%);
  }

  .DeptSearch-select.is-open & {
    display: block;
  }

  &.is-active {
    order: 0;
    display: block;

    .DeptSearch-select.is-open & {
      border-bottom: 1px solid #9d9d9d;
    }

    &::after {
      content: '';
      display: inline-block;
      float: right;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top: 5px solid #4a4a4a;
      position: relative;
      top: 5px;
      margin-left: 10px;

      .DeptSearch-select.is-open {
        content: 'xxxx' !important;
        border: 5px solid transparent !important;
        border-bottom: 5px solid #4a4a4a !important;
      }
    }
  }
}

.DeptSearch-radio {
  display: none;
}

.DeptSearch-divider {
  padding: 10px 5px 10px 0;
  display: inline-block;
  font-size: 14px;

  @media screen and (min-width: 800px) {
    padding: 5px 10px 5px 20px;
  }
}

.DeptSearch-group {
  padding-top: 30px;
  line-height: 1.5;
  @include clearfix;

  &--blank {
    opacity: 0.3;
  }
}

.DeptSearch-title {
  padding: 0 7px;
  font-size: 14px;
  font-weight: 600;
}

.DeptSearch-link {
  font-size: 14px;
  color: #4a4a4a;
  text-decoration: none;
  border-radius: 3px;
  padding: 0 7px;
  display: block;

  &:hover {
    background-color: darken(white, 5%);
  }

  @media screen and (min-width: 900px) {
    float: left;
    width: (100% / 2);
  }
}

.DeptSearch-list {
  list-style: none;
  padding-left: 5px;
}

.DeptSearch-label {
  cursor: pointer;
}

.DeptSearch-results {
  padding-left: 0;
  list-style: none;
}

.DeptSearch-items {
  padding-left: 0;
  list-style: none;
}

.DeptSearch-filterGroup {
  padding-top: 15px;

  @media screen and (min-width: 800px) {
    display: inline-block;
    padding: 0;
  }
}
