<ul class="Page-sectionWrap Page-sectionWrap--card Page-sectionWrap--dark">
  <li class="Page-section Page-section--card">

    {% if include.organization.name %}
      <h3 class="Page-subHeading">Contact contributor</h3>
    {% endif %}

    {% if include.organization.logo_url %}
      <div class="CsoMeta-logo" style="background-image: url('https://data.vulekamali.gov.za/uploads/group/2018-02-01-123436.500679logo.jpg');"></div>
    {% endif %}

    {% if include.organization.url %}
      <div>
        <a href="{{ include.organization.url }}">{{ include.organization.url }}</a>
      </div>
    {% endif %}

    {% if include.organization.email %}
      <div>{{ include.organization.email }}</div>
    {% endif %}

    {% if include.organization.telephone %}
      <div>{{ include.organization.telephone }}</div>
    {% endif %}
  
    {% if include.organization.facebook %}
      <a href="{{ include.organization.facebook }}" class="Button is-inline has-icon u-marginTop u-marginTop--10 u-marginRight u-marginRight--5">{% include components/universal/Icon/index.html type="facebook" size="small" %}</a>
    {% endif %}

    {% if include.organization.twitter %}
      <a href="{{ include.organization.twitter }}" class="Button is-inline has-icon u-marginTop u-marginTop--10 u-marginRight u-marginRight--5">{% include components/universal/Icon/index.html type="twitter" size="small" %}</a>
    {% endif %}
  </li>

  <li class="Page-section">
    {% if include.author.name and include.author.name != '' %}
      <div>Author: {{ include.author.name }}</div>
    {% endif %}

    {% if include.license %}
      {% if include.license.url %}
        <div>License: <a href="{{ include.license.url }}">{{ include.license.name }}</a></div>
      {% else %}
      <div>{{ include.license.name }}</div>
      {% endif %}
    {% endif %}

    {% if include.created %}
      <div>First uploaded on {{ include.created | date_to_string }}</div>
    {% endif %}

    {% if include.updated %}
      <div>Last updated on {{ include.last_updated | date_to_string }}</div>
    {% endif %}
  </li>  
</ul>