.Tooltip {
  display: inline-block;
  cursor: pointer;

  @media screen and (min-width: 800px) {
    position: relative;
  }

  &.is-block {
    width: 100%;
  }
}

.Tooltip-div {
  position: relative;
  left: -5px;
}

.Tooltip-phrase {
  display: inline-block;

  &::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0.2em;
    width: 100%;
    border-bottom: 1px dashed #4a4a4a;
  }

  &:hover {
    background-color: darken(white, 10%);
  }
}

.Tooltip-boxWrap {
  text-align: left;
  display: none;
  font-weight: normal;
  z-index: z-index('Tooltip-boxWrap');
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  cursor: default;

  &.is-important {
    z-index: z-index('Tooltip-boxWrap is-important');
  }

  @media screen and (min-width: 800px) {
    background: none;
    position: absolute;
  }

  &.is-open {
    display: block;
  }
}

.Tooltip-box {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media screen and (min-width: 800px) {
    position: relative;
  }
}

.Tooltip-content {
  position: static;
  max-width: 250px;
  padding: 10px 10px 20px;

  @media screen and (min-width: 800px) {
    width: 250px;
    position: absolute;
    bottom: calc(100% - 0.1em);
    
    &.is-down {
      top: calc(100% - 0.1em);
    }
  }
}

.Tooltip-shadowBox {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
  padding: 15px;
  position: relative;
  font-size: 14px;
}

.Tooltip-triangleWrap {
  display: none;

  @media screen and (min-width: 800px) {
    display: block;
    position: absolute;
    overflow: hidden;
    height: 25px;
    width: 40px;
    left: 95px;
    top: 100%;
  
    &.is-down {
      top: auto;
      bottom: calc(100% - 0.1em);
    }
  }
}

.Tooltip-triangle {
  border: solid 1px #979797;
  position: relative;
  top: -30px;
  display: block;
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  
  &.is-down {
    top: 9px;
  }
}

.Tooltip-title {
  padding-bottom: 5px;
  display: inline-block;
  line-height: 1.64;
  color: #4a4a4a;
  font-weight: bold;
}

.Tooltip-text {
  line-height: 1.64;
  display: block;
  padding-bottom: 10px;
}

.Tooltip-linkWrap {
  line-height: 1.64;
  color: #4a4a4a;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;

  &:hover {
    background-color: darken(white, 10%);
  }
}

.Tooltip-link {
  text-decoration: underline;
  margin-left: 3px;
}
