<div class="About">
  <div class="About-section js-section" id="background">
    {% include components/About/partials/background.html %}
  </div>
  <div class="About-section js-section" id="development">
    {% include components/About/partials/development.html %}
  </div>
  <div class="About-section js-section" id="project-status">
    {% include components/About/partials/project-status.html %}
  </div>
  <div class="About-section js-section" id="your-contribution">
    {% include components/About/partials/contribution.html %}
  </div>

  <!--
    <div class="About-section js-section" id="contacts">
      {% include components/About/partials/contact.html %}
    </div>
    <div class="About-section js-section" id="media-and-other-information">
      {% include components/About/partials/media-and-info.html %}
    </div>
  -->
</div>