.About {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 200px;

  a {
    color: #4a4a4a;
  }

  @media screen and (min-width: 750px) {
    padding-left: 200px;
  }

  @media screen and (min-width: 1500px) {
    padding-left: 0;
  }
}

.About-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;

  .About-section:nth-of-type(n+2) & {
    padding-top: 70px;
  }
}

.About-graph {
  margin-bottom: 50px;

  @media screen and (min-width: 900px) {
    margin-left: 55px;
    float: right;
    width: 200px;
  }
}
