.Circles {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Circles-item {
  padding: 20px 15px;
  border: 10px solid grey;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background-color: #fff;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #3f3f3f;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: darken(white, 15%);
  }

  &.is-positive {
    border-color: #7bb344;

    &:hover {
      border-color: darken(#7bb344, 15%);
    }
  }

  &.is-negative {
    border-color: #c66347;

    &:hover {
      border-color: darken(#c66347, 15%);
    }
  }

  &.is-prominent {
    border-color: #ad3c64;

    &:hover {
      border-color: darken(#ad3c64, 15%);
    }
  }
}

.Circles-float {
  position: absolute;
  width: 53px;
  height: 84px;
  left: -42px;
  top: 47px;
}

.Circles-wrap {
  margin-left: 30px;
  float: left;
  border-radius: 50%;
  background: #e6e6e6;
  border: 1px solid #d2d2d2;
  padding: 10px;
  position: relative;

  &:nth-of-type(1) {
    margin-left: 0;
  }
  
}

.Circles-floatStroke {
  stroke: #d2d2d2;
}

.Circles-floatFill {
  fill: #e6e6e6;
}

.Circles {
  @include clearfix;
}

.Circles-number {
  font-size: 32px;
  font-weight: bold;
}

.Circles-text {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}
