---
layout: page-shell
---
<div class="Page-content">
  <div class="Page-contentWrap has-floatingLinks">

   {% include components/universal/Page/partials/background.html year=include.year %}

   {% include components/universal/Page/partials/development.html year=include.year %}

   {% include components/universal/Page/partials/project-status.html year=include.year %}

   {% include components/universal/Page/partials/your-contribution.html year=include.year %}

   {% include components/universal/Page/partials/contacts.html year=include.year %}

   {% include components/universal/Page/partials/media.html year=include.year %}

   {% include components/universal/Page/partials/data-scientists.html year=include.year %}

  </div>
</div>
