{% if page.financial_year %}

  {% if page.sphere %}

    {% if page.sphere == "national" %}
      {% assign page_data = site.data[page.financial_year][page.sphere].departments[page.data_key] %}
    {% else %}
      {% assign page_data = site.data[page.financial_year][page.sphere][page.geographic_region_slug].departments[page.data_key] %}
    {% endif %}

  {% else %}
    {% assign page_data = site.data[page.financial_year][page.data_key] %}
  {% endif %}

{% elsif page.layout == 'contributed_dataset' %}
  {% assign page_data = site.data.datasets[page.data_key] %}

{% else %}
  {% assign page_data = site.data[page.data_key] %}
{% endif %}


<!doctype>
<html>
  {% include utilities/html/head.html title=page_data.title %}
  <body>
    {{ content }}
    {% include utilities/html/scripts.html %}
  </body>
</html>