{% if page.sphere == "national" %}
  {% assign page_data = site.data[page.financial_year][page.sphere].departments[page.department_slug] %}
{% elsif page.speher == "provincial"  %}
  {% assign page_data = site.data[page.financial_year][page.sphere][page.geographic_region_slug].departments[page.department_slug] %}
{% else %}
  {% assign page_data = site.data[page.financial_year].datasets[page.slug] %}
{% endif %}


<!doctype>
<html>
  {% include utilities/html/head.html title=page.title name=page_data.name %}
  <body>
    {{ content }}
    {% include utilities/html/scripts.html %}
  </body>
</html>