---
layout: page-shell
---
{% assign page_data = site.data['contributed-data'] %}


<div class="Page-content">
  <main class="Page-contentInner">
    <h1 class="Page-mainHeading">Contributed Data</h1>

    <div class="Section is-invisible u-fontSize18 u-paddingTop0">
      {{ page_data.description }}
    </div>

    <div class="BasicContent is-green u-padding10 u-marginBottom25">
      <div class="BasicContent">
        <div class="Grid has-rightSidebar">
          <div>
            <div class="BasicContent-title">How can I contribute?</div>
            <div>Do you have data or analysis related to the budget that you would like to contribute?</div>      
          </div>
          <div class="u-paddingTop15">
            <button class="Button">Log in and submit your data</button>
          </div>
        </div>
      </div>
    </div>

    <div class="Grid">
      {% for dataset in page_data.datasets %}
        {%
          include components/universal/ThumbPreview/index.html
          title=dataset.name
          source=dataset.organization.name
          source_url=dataset.organization.url
          logo=dataset.organization.logo_url
          url=dataset.url_path
          created=dataset.created
          updated=dataset.last_updated
        %}
      {% endfor %}
    </div>

  </main>
</div>