---
layout: page-shell
---
{% if page.sphere == "national" %}
  {% assign page_data = site.data[page.financial_year][page.sphere].departments[page.data_key] %}
{% else %}
  {% assign page_data = site.data[page.financial_year][page.sphere][page.geographic_region_slug].departments[page.data_key] %}
{% endif %}

{% if page_data.government.slug == 'south-africa' %}
  {% assign department_location = 'National' %}
{% else %}
  {% assign department_location = page_data.government.name %}
{% endif %}


<div class="Page-content Page-content--dynamicYears">
  <div class="Page-contentInner is-full">
    <div class="u-marginBottom25">
      <h1 class="Page-mainHeading u-textAlignCenter u-marginBottom0">{{ page_data.name }}</h1>
      <span class="Page-subHeading u-textAlignCenter"> {{ department_location }} Department Budget for {{ page.financial_year }}</span>
    </div>

    {%
      include components/department-budgets/IntroSection/index.html
      description=page_data.intro
      datasets=page_data.treasury_datasets
      location=department_location
    %}

    <div
      class="u-mt-5"
      id="programmes-chart" 
      data-component="ProgrammesChart"
      data-values="{{ page_data.programmes | jsonify | escape }}" 
      data-year="{{ page.financial_year }}"
      data-files="{{ page_data.treasury_datasets | jsonify | escape }}"
      data-location="{{ department_location }}"
      data-department="{{ page_data.name }}"
    >
    </div>

    <div class="u-marginTop20">
      <div
        id="line-chart" 
        data-component="ExpenditureChart"
        data-adjusted="{{ page_data.expenditure_over_time.real | jsonify | escape }}"
        data-notAdjusted="{{ page_data.expenditure_over_time.nominal | jsonify | escape }}"
        data-year="{{ page.financial_year }}"
        data-files="{{ page_data.treasury_datasets | jsonify | escape }}"
        data-department="{{ page_data.name }}" 
        data-location="National"
        data-cpi="{{ site.data.global_values.cpi_dataset_url }}"
      >
      </div>
    </div>

    <div class="u-marginTop20">
      <div class="Grid has-widescreenTrigger">
        <div class="Grid-inner">
          <div class="Grid-item is-1of3 u-marginBottom20">
            {%
              include components/department-budgets/ContributedData/index.html
              datasets=page_data.contributed_datasets
            %}
          </div>
          <div class="Grid-item is-2of3">
            <div class="Section is-bevel">
              <div class="Section-card is-invisible u-paddingBottom15">
                <div class="Section-title">Timelines for this department and ways to participate</div>
                <p>National Treasury, departments and commitees are busy with different things depending on the time of year:</p>
              </div>
              <div class="Section-card u-mb-3">
                <div class="js-initParticipate"></div>
              </div>

              <div
              class="VideoPreview u-mb-3"
              data-component="VideoPreview"
              data-title="{{ site.data.videos.data[3].title }}"
              data-description="{{ site.data.videos.data[3].description }}"
              data-selected="English"
              data-languages='{{ site.data.videos.data[3].languages | jsonify | escape }}'  
            >
              <div class="ReactPlaceholder">&nbsp;</div>
            </div>
        
            <div
              class="VideoPreview"
              data-component="VideoPreview"
              data-title="{{ site.data.videos.data[4].title }}"
              data-description="{{ site.data.videos.data[4].description }}"
              data-selected="English"
              data-languages='{{ site.data.videos.data[4].languages | jsonify | escape }}'  
            >
              <div class="ReactPlaceholder">&nbsp;</div>
            </div>

              <div class="Section-card is-invisible">
                {%
                  include components/universal/Download/index.html
                  link="/resources"
                  title="Explore more resources on the budget process and participation"
                %}
              </div>
            </div>

            <div class="Section u-marginTop20">
              <h2 class="Section-title">Discuss this budget with others</h2>
              <div data-enhance-component="Comments" data-url="https://vulekamali.gov.za{{ page.url }}">
                <div id="discourse-comments"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
