---
layout: page-shell
---
{% if page.sphere == "national" %}
{% assign page_data = site.data[page.financial_year][page.sphere].departments[page.data_key] %}
{% else %}
{% assign page_data = site.data[page.financial_year][page.sphere][page.geographic_region_slug].departments[page.data_key] %}
{% endif %}

<div>{{ page_data | jsonify }}</div>

<div class="Page-content">
  <div class="Page-contentWrap">
    {% if page_data.government.slug == 'south-africa' %}
      <div class="Page-title is-noPadding">National Department: {{ page_data.name }}</div>
    {% else %}
      <div class="Page-title is-noPadding">{{ page_data.government.name }} Department: {{ page_data.name }}</div>
    {% endif %}

    <div class="u-marginLeft u-marginLeft--20 u-marginBottom u-marginBottom--30 u-marginTop u-marginTop--5 u-fontWeight u-fontWeight--bold u-fontSize u-fontSize--16">
      Budget for {{ page.financial_year }}
    </div>

    <main class="Page-main">

      <div class="Card js-tooltips" data-year="{{ page.financial_year }}">{{ page_data.intro  | markdownify }}</div>

      <div class="Page-section">
        <div class="Card">
          {% 
            include components/department-page/ProgrammesChart/index.html 
            values=page_data.programmes
          %}
        </div>
      </div>

      <div class="Page-section">
        <div class="Card">
          {% 
            include components/department-page/ExpenditureChart/index.html 
            values=page_data.expenditure_over_time
          %}
        </div>
      </div>

    </main>
    <aside class="Page-sidebar">

      <div class="Card">
        {% include components/universal/Share/index.html %}
      </div>

      <div class="u-marginTop u-marginTop--20">
        {% include components/universal/FileTypes/index.html treasury=page_data.treasury_datasets cso=page_data.contributed_datasets type="dept" %}
      </div>

    </aside>
  </div>
</div>
