---
layout: page-shell
---

{% assign national = page.national[0] %}
{% assign provincial = page.provincial %}
{% assign epres = site.data[page.selected_financial_year].epres %}

<div class="Page-content Page-content--dynamicYears">
  <main class="Page-contentInner">
    <h1 class="Page-mainHeading">Department Budgets for {{ page.financial_year }}</h1>
    {% include
      components/department-budgets/DeptSearch/index.html
      provincial=provincial
      national=national
      epres=epres
    %}
  </main>
</div>
