<h3>National Departments</h3>
<ol>
  {% for department in site.data[page.financial_year].national.department_list[0].departments %}
  <li><a href="/static-budget-portal{{ department.url_path }}">Vote {{ department.vote_number }}: {{ department.name }}</a></li>
  {% endfor %}
</ol>

<ol>
  {% for province in site.data[page.financial_year].provincial.department_list %}
  <li>
    <h3>{{ province.name }} Departments</h3>
    <ol>
      {% for department in province.departments %}
      <li>Vote {{ department.vote_number }}: {{ department.name }}</li>
      {% endfor %}
    </ol>
  </li>
  {% endfor %}
</ol>
