---
layout: page-shell
---
{% if page.sphere == "national" %}
{% assign page_data = site.data[page.financial_year][page.sphere].departments[page.department_slug] %}
{% else %}
{% assign page_data = site.data[page.financial_year][page.sphere][page.geographic_region_slug].departments[page.department_slug] %}
{% endif %}


<div class="Page-contentWrap">
  <main class="Page-main">

    {% if page_data.government.slug == 'south-africa' %}
      <div class="Page-title">National Department: {{ page_data.name }}</div>
    {% else %}
      <div class="Page-title">{{ page_data.government.name }} Department: {{ page_data.name }}</div>
    {% endif %}

    {% for narrative in page_data.narratives %}
      <div class="Page-blurb"><strong>{{ narrative.name | capitalize }}:</strong> {{ narrative.content  | markdownify }}</div>
    {% endfor %}

    <div class="Page-section">
      {% include components/Programmes/index.html programmes=page_data.programmes %}
    </div>

  </main>
  <aside class="Page-sidebar">
      {% include components/Share/index.html %}
      <div class="Page-smallSection">
          {% include components/Resources/index.html resources=page_data.resources %}
      </div>
  </aside>
</div>
