---
layout: page-shell
---

<div class="Page-content">
  <div class="Page-contentWrap">
    <h3 class="Page-title is-noPadding">Join us at a vulekamali event in your area</h3>
    {%
      include components/about-and-learning-centre/Events/index.html
      events=site.data.static.events.upcoming
    %}

    <h3 class="Page-title is-noPadding">Past Events</h3>
    {%
      include components/about-and-learning-centre/Events/index.html
      events=site.data.static.events.past
      passed=true
    %}
  </div>
</div>