---
layout: page-shell
---

{% assign page_data = site.data[page.financial_year].index %}
{% assign resources_data = site.data[page.financial_year].resources %}


<div class="Page-content">
  <div class="Page-contentWrap">

    <span class="Page-title">The South African National Budget {{ page.financial_year }}</span>

    <div class="HomeLayout">

      <div class="HomeLayout-main">
        <div>
            {%
              include components/homepage/Links/index.html
              speech=resources_data.budget_speech.url
              webcast=resources_data.budget_webcast.url
              highlights=resources_data.highlights.url
              expenditure=resources_data.estimates_national_expenditure.url
              appropriation=resources_data.appropriation.url
              division=resources_data.division_revenue_bill.url
              pocket_guide=resources_data.pocket_guide.url
              presentation=resources_data.presentation.url
            %}
        </div>

        <span class="HomeLayout-title js-tooltips" data-year="{{ page.financial_year }}">The national revenue fund, administered by the National Treasury,  is distributed to these three spheres of government.</span>

        <div>
          {% include components/homepage/Circles/index.html year=page.financial_year items=site.data.static.circles %}
        </div>
      </div>

      <div class="HomeLayout-sidebar">
          <h2 class="u-sReadOnly">Additional Content</h2>

          <div class="HomeLayout-newsletter">
            {% include components/homepage/NewIntro/index.html %}
          </div>

          <div class="HomeLayout-newsletter">
            {% include components/homepage/SignUpBox/index.html %}
          </div>

          <div class="HomeLayout-newsletter">
            {% include components/homepage/Related/index.html year=page.financial_year %}
          </div>

          <div class="HomeLayout-newsletter">
            {% include components/homepage/ApiCta/index.html %}
          </div>

      </div>

    </div>
  </div>
</div>
