---
layout: page-shell
---

{% assign page_data = site.data[page.financial_year].index %}
{% assign government_functions = site.data[page.financial_year].government_functions %}
{% assign resources_data = site.data[page.financial_year].resources %}
{% assign circles_data = site.data[page.financial_year].circles %}


<div class="Page-content">
  <div class="Page-contentWrap">

    <div class="Card u-marginTop u-marginTop--20 u-marginBottom u-marginBottom--15">
      The 2018-19 budget data is currently being added to the vulekamali site and will be available soon.
    </div>

    <div class="HomeLayout-titleWrap">
      <span class="Page-title">The South African National Budget {{ page.financial_year }}</span>
    </div>

    <div class="HomeLayout-description">vulekamali is a project by the South African National Treasury and Imali Yethu with the goal of making government budget data and processes accessible to all citizens & interested parties. <a href="/{{ page.financial_year }}/about">Read more about vulekamali.</a></div>

    <div class="HomeLayout">

      <div class="HomeLayout-main">
        <div>
            {%
              include components/homepage/Links/index.html
              speech=resources_data.budget_speech.url
              webcast=resources_data.budget_webcast.url
              highlights=resources_data.highlights.url
              expenditure=resources_data.estimates_national_expenditure.url
              appropriation=resources_data.appropriation.url
              division=resources_data.division_revenue_bill.url
              pocket_guide=resources_data.pocket_guide.url
              presentation=resources_data.presentation.url
            %}
        </div>

        <span class="HomeLayout-title js-tooltips" data-year="{{ page.financial_year }}">The national revenue fund, administered by the National Treasury,  is distributed to the three spheres of government.</span>

        <div>
          {%
            include components/homepage/Circles/index.html
            year=page.financial_year
            items=circles_data
          %}
        </div>

        <div>
          {%
            include components/homepage/Revenue/index.html
            info=page_data.revenue
            link=resources_data.budget_revenue_data.url
            year=page.financial_year
          %}
        </div>

        <div>
          {%
            include components/homepage/Expenditure/index.html
            info=government_functions
            year=page.financial_year
          %}
        </div>

      </div>

      <div class="HomeLayout-sidebar">
          <h2 class="u-sReadOnly">Additional Content</h2>

          <div class="HomeLayout-newsletter">
            {% include components/homepage/SignUpBox/index.html %}
          </div>

          <div class="HomeLayout-newsletter">
            {% include components/homepage/Related/index.html year=page.financial_year %}
          </div>

          <div class="HomeLayout-newsletter">
            {% include components/homepage/ApiCta/index.html %}
          </div>

      </div>

    </div>
  </div>
</div>
