---
layout: base
---


{% assign hardcoded_infrastructure = "infrastructure-projects" %}

<div data-create-component="Modals"></div>
<div class="Page">
  <header class="Page-head">
    {%
      include components/header-and-footer/HeaderBar/index.html
      items=site.data.navbar.array
      selected_tab=page.selected_tab
      latest_year=site.latest_year
      year=page.selected_financial_year
      selected_sidebar=page.selected_sidebar
    %}

    {% if page.selected_financial_year %}
      {%
        include components/header-and-footer/YearSelect/index.html
        years=page.financial_years
      %}
    {% endif %}
  </header>
  <div class="Page-contentWrap">
    {{ content }}
  </div>
  <footer class="Page-footer">
    {% include
      components/header-and-footer/Footer/index.html
      year=page.selected_financial_year
    %}
    {% include components/header-and-footer/ExtraFooter/index.html %}
  </footer>
</div>
