---
layout: base
---


{% if page.financial_year %}

  {% if page.sphere %}

    {% if page.sphere == "national" %}
      {% assign page_data = site.data[page.financial_year][page.sphere].departments[page.department_slug] %}
    {% else %}
      {% assign page_data = site.data[page.financial_year][page.sphere][page.geographic_region_slug].departments[page.department_slug] %}
    {% endif %}

  {% else %}
    {% assign page_data = site.data[page.slug] %}
  {% endif %}

{% else %}
  {% assign page_data = site.data[page.slug] %}
{% endif %}


<div class="Page">
  <header class="Page-header">
    <h1 class="u-sReadOnly">Static Budget Portal</h1>
    {% 
      include components/header-and-footer/HeaderBar/index.html
      items=site.data.navbar.array
      selected_tab=page_data.selected_tab
      latest_year=site.latest_year
      year=page.financial_year
      selected_sidebar=page_data.selected_sidebar
    %}

    {% if page.financial_year %}
      {% 
        include components/header-and-footer/YearSelect/index.html 
        years=page_data.financial_years
      %}
    {% endif %}
  </header>
  <div class="Page-contentContainer">
    {{ content }}
  </div>
  <footer class="Page-footer">
    {% include 
      components/header-and-footer/Footer/index.html
      year=page.financial_year
    %}
    {% include components/header-and-footer/ExtraFooter/index.html %}
  </footer>
</div>
