---
layout: page-shell
---

<div class="Page-content">
  <main class="Page-contentInner Page-contentInner--floatingLinks">
    <h1 class="Page-mainHeading">Resources</h1>
    <div class="Card">
        <h3 class="Card-title">PDF Documents</h3>
        <ul>
          <li>
            <a href="https://www.sahrc.org.za/home/21/files/2016%20SPII%20SAHRC%20Guide%20to%20Budget%20Analysis%20for%20Socio-Economic%20Rights.pdf">Budget analysis for advancing socio-economic rights - SPII</a>
          </li>
        </ul>
    </div>
  </main>
</div>
