---
layout: page-shell
---

<div class="Page-content">
  <main class="Page-contentInner Page-contentInner--floatingLinks">
    <h1 class="Page-mainHeading">Resources</h1>
    <div class="Card">

      <h3 class="Card-title">Resources on Budget Analysis</h3>
      <ul>
        <li>
          <a href="https://www.sahrc.org.za/home/21/files/2016%20SPII%20SAHRC%20Guide%20to%20Budget%20Analysis%20for%20Socio-Economic%20Rights.pdf">Budget analysis for advancing socio-economic rights</a> - Studies in Poverty and Inequality Institute (SPII) (PDF)
        </li>
      </ul>

      <h3 class="Card-title" id="process">The Budget Process and Public Participation</h3>
      <ul>
        <li><a href="https://data.vulekamali.gov.za/dataset/86e7c9ae-d299-4218-b719-b8b27a9c4e01/resource/5234c761-7583-40bb-bcd6-f3861649abd1/download/public-participation-framework.pdf" target="_blank">Public Participation Framework for the South African Legislative Sector, June 2013</a> - South African Legislative Sector (PDF)</li>
        <li><a href="https://data.vulekamali.gov.za/dataset/86e7c9ae-d299-4218-b719-b8b27a9c4e01/resource/2e8c7703-e66f-4ed4-b501-37087caa4750/download/presentation-to-mps-on-aene-and-budget-process.ppt" target="_blank">Budget Process and the Appropriation Bill</a> - A presentation to Members of Parliament by National Treasury (PPT)</li>
        <li><a href="https://data.vulekamali.gov.za/dataset/86e7c9ae-d299-4218-b719-b8b27a9c4e01/resource/9765ffbb-5bf8-4e90-b458-6eca23e823ab/download/peoples_power-final.pdf" target="_blank">People's Power, People's Parliament</a> - by Keren Ben-Zeev (PDF)</li>
      </ul>

    </div>
  </main>
</div>
