
<div class="Related">
  <div class="Related-wrap">
    <h3 class="Related-title">Find budget data related to one of these popular topics</h3>
    <ul class="Related-list">
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Education">Education</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Social grants">Social grants</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Tourism">Tourism</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=HIV prevention">HIV prevention</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Policing">Policing</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Poverty alleviation">Poverty alleviation</a></li>
    </ul>
  </div>
</div>
