
<div class="Related">
  <div class="Related-wrap">
    <h3 class="Related-title">Find budget data related to one of these popular topics</h3>
    <ul class="Related-list">
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=University">University</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Land reform">Land reform</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Tourism">Tourism</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Mineral resources">Mineral resources</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Policing">Policing</a></li>
      <li class="Related-item"><a class="Related-link" href="/{{ include.year }}/search-result?search=Poverty alleviation">Poverty eleviation</a></li>
    </ul>
  </div>
</div>