
<nav class="NavBar">
  <h2 class="u-sReadOnly">Navigate to a section on this site:</h2>
  <ul class="NavBar-list">
    {% for item in include.navbar %}

      {% if item[3] == true %}
        {% assign icon = ' NavBar-link--icon' %}
      {% else %}
        {% assign icon = '' %}
      {% endif %}

      {% if item[2] == true %}
        {% assign active = ' NavBar-link--active' %}
      {% else %}
        {% assign active = '' %}
      {% endif %}

      {% if item[2] == true %}
        {% assign link = 'span' %}
      {% else %}
        {% assign link = 'a' %}
      {% endif %}

    <li class="NavBar-item">
        <{{ link }} href="{{ item[1] | default: '' }}" class="NavBar-link{{ icon }}{{ active }}">

          {% if item[0] == 'home-icon' %}
            {% include components/NavBar/partials/icon.html %}
          {% else %}
            {{ item[0] }}
          {% endif %}

        </{{ link }}>
      </span>
    </li>

    {% endfor %}
  </ul>
</nav>