.NavBar {
  background-color: #e6e6e6;
}

.NavBar-icon {
  fill: #4a4a4a;
  width: 20px;
  height: 20px;
}

.NavBar-wrap {
  background-color: #e6e6e6;
  width: 100%;
}

.NavBar-item {
  list-style: none;
  float: left;
}

.NavBar-link {
  user-select: none;
  height: 100%;
  display: block;
  padding: 16px 20px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #4a4a4a;

  &--icon {
    padding: 15px 20px;
  }

  &--active {
    background-color: white;
  }
}

a.NavBar-link:hover {
  background-color: darken(#e6e6e6, 15%);
}

.NavBar-list {
  list-style: none;
  max-width: 1024px;
  margin: 0 auto;
  @include clearfix;
}
