.NavBar {
  background-color: #e6e6e6;
}

.NavBar-icon {
  fill: #4a4a4a;
  width: 18px;
  height: 18px;
}

.NavBar-wrap {
  background-color: #e6e6e6;
  width: 100%;
}

.NavBar-item {
  list-style: none;
  float: left;
}

.NavBar-link {
  user-select: none;
  height: 100%;
  display: block;
  padding: 16px 20px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #4a4a4a;

  &--active {
    background-color: white;
  }
}

a.NavBar-link:hover {
  background-color: darken(#e6e6e6, 15%);
}

.NavBar-list {
  list-style: none;
  max-width: 1024px;
  margin: 0 auto;
  @include clearfix;
}

.NavBar-text {
  display: inline-block;

  &.is-mobileOnly {
    display: none;
  }
}

.NavBar-subItems {
  width: 200px;
  background-color: #f5f6f6;
  display: block;
  padding: 20px;
  list-style: none;
  text-align: right;
}

.NavBar-subItemsWrap {
  display: none;

  @media screen and (min-width: 750px) {
    &.is-currentPage {
      display: block;
      position: absolute;
      left: 10;
      top: 325px;

      &.is-fixed {
        position: fixed;
        top: 50px;
      }

      @media screen and (min-width: 1050px) {
        left: calc(50vw - (1024px / 2));
      }

      @media screen and (min-width: 1500px) {
        left: calc(50vw - ((1024px / 2) + 230px));
      }
    }
  }
}

.NavBar-subLink {
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  color: #4a4a4a;
  margin-bottom: 10px;
  padding: 8px 15px;
  border-radius: 2px;

  &:not(.is-active):hover {
    background-color: darken(#f5f6f6, 10%);
  }

  &.is-active {
    font-weight: bold;
    cursor: default;
    text-decoration: underline;
  }
}
