<div class="u-marginTop60">
  <div class="u-marginTop25 u-marginLeft30">
    <h3 class="Section-title">{{ include.title }}</h3>
    <p>{{ include.description }}</p>
  </div>

  {% if include.dataset or include.guide or include.pdf or include.excel %}
    <div class="LinksList u-marginBottom10 u-marginLeft30">

      {% if include.dataset %}
        <div>
          <a href="{{ include.dataset }}" class="LinksList-item u-textDecorationNone">
            <span class="LinksList-icon">{% include components/universal/Icon/index.html type="dataset" %}</span>
            <div class="LinksList-title">
              <span>Source:&nbsp;</span> 
              <span class="u-textDecorationUnderline">{{ include.source_type }} {{ include.year }}</span>
            </div>
          </a>
        </div>
      {% endif %}
      
      {% if include.csv %}
        <div>
          <a href="{{ include.csv }}" class="LinksList-item" target="_blank" rel="noopener noreferrer">
            <span class="LinksList-icon">{% include components/universal/Icon/index.html type="download" %}</span>
            <span class="LinksList-title">Download this data for analysis (CSV)</span>
          </a>
        </div>
      {% endif %}

      {% if include.guide %}
        <div>
          <a href="{{ include.guide }}" class="LinksList-item">
            <span class="LinksList-icon">{% include components/universal/Icon/index.html type="guide" %}</span>
            <span class="LinksList-title">Dataset Guide for {{ include.source_type }}</span>
          </a>
        </div>
      {% endif %}

      {% if include.pdf %}
        <div>
          <a href="{{ include.pdf }}" class="LinksList-item" target="_blank" rel="noopener noreferrer">
            <span class="LinksList-icon">{% include components/universal/Icon/index.html type="download" %}</span>
            <span class="LinksList-title">Learn more about these programmes in the {{ source_type }} as PDF</span>
          </a>
        </div>
      {% endif %}

      {% if include.excel %}
        <div>
          <a href="{{ include.excel }}" class="LinksList-item" target="_blank" rel="noopener noreferrer">
            <span class="LinksList-icon">{% include components/universal/Icon/index.html type="download" %}</span>
            <span class="LinksList-title">Learn more about these programmes in the {{ source_type }} as Excel</span>
          </a>
        </div>
      {% endif %}
    </div>
  {% endif %}



   

  <div class="Grid has-threeColumn">
    {% for chart in include.charts_list %}
    <div class="BasicPreview is-fullHeight is-topAlign u-marginTop10 u-paddingBottom0">
      <div class="BasicPreview-heading u-marginBottom0">{{ chart.name }}</div>
      <div 
        data-component="SmallMultiple"
        data-items="{{ chart.items | jsonify | escape }}"
      >
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="u-marginBottom25 u-marginLeft30">
    {% if include.detail_link %}
      <div class="u-marginTop25 u-marginLeft25">
        {%
          include components/universal/Download/index.html
          link=include.detail_link
          title="View this data"
        %}
      </div>
    {% endif %}
  </div>
</div>