.Page {
  width: 100%;
  min-height: 100%;

  @media ($tablet-breakpoint) {
    display: table;
  }
}

.Page-head {
  @media ($tablet-breakpoint) {
    position: static;
    box-shadow: none;
    height: 1%;
    display: table-row;
  }
}

.Page-footer {
  @media ($tablet-breakpoint) {
    height: 1%;
    display: table-row;
  }
}

.Page-contentWrap {
  background-color: $colour-shading-background;

  @media ($tablet-breakpoint) {
    height: 98%;
    display: table-row;
  }
}

.Page-content {
  padding-top: 30px;

  @media ($tablet-breakpoint) {
    padding-top: 0;
  }
}

.Page-contentInner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 5px 100px;
  @include clearfix;

  &.is-full {
    max-width: 1800px;
  }

  @media ($mobile-breakpoint) {
    padding: 0 15px 100px;
  }

  @media ($tablet-breakpoint) {
    padding: 0 25px 100px;
  }

  &--floatingLinks {
    @media (min-width: 900px) {
      padding-left: 240px;
    }

    @media ($widescreen-breakpoint) {
      padding-left: 0;
    }
  }
}

.Page-title,
.Page-mainHeading {
  font-weight: bold;
  font-size: $font-size-large;
  line-height: 1.29;
  margin: 25px 20px 10px;
  display: block;

  @media ($mobile-breakpoint) {
    margin: 35px 30px 20px;
  }

  @media ($tablet-breakpoint) {
    margin: 45px 40px 30px;
  }
}

.Page-subHeading {
  margin: 0 0 10px;
  font-size: 25px;
  font-weight: bold;
  display: block;
}

.Page-main {
  @media ($standard-breakpoint) {
    float: left;
    width: (100% / 3 * 2);
    padding-right: 20px;
  }
}

.Page-sidebar {
  @media ($standard-breakpoint) {
    float: right;
    width: (100% / 3);
    padding-left: 20px;
  }
}