.ReactIcon {
  width: 18px;
  height: 18px;
  display: inline-block; }
  @supports (display: flex) {
    .ReactIcon {
      display: block;
      position: static; } }
  .ReactIcon.is-small {
    width: 12px;
    height: 12px; }
  .ReactIcon.is-large {
    width: 24px;
    height: 24px; }
