.ReactBartChart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactBartChart-svg {
  overflow: hidden;
}

.ReactBartChart-tooltip {
  .ReactBartChart-svg.is-hoverable & {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}
