.SearchResult-group {
  background-color: #f3f3f3;
  font-size: 14px;
  line-height: 1.86;
  padding: 10px;
}

.SearchResult-title {
  font-weight: bold;
  padding: 5px 10px;
}

.SearchResult-link {
  padding: 5px 10px;
  display: block;
  color: #4a4a4a;
  text-decoration: none;

  &:nth-child(odd) {
    background-color: white;
  }

  &:hover {
    background-color: darken(white, 15%);
  }
}

.SearchResult-heading {
  font-size: 24px;
  font-weight: bold;
}

.SearchResult-heading {
  padding: 15px 0;
}

.SearchResult-select {
  border-radius: 3px;
  border: solid 1px #9b9b9b;
  padding-left: 0;
  display: inline-block;
  min-width: 170px;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  background-color: white;
}

.SearchResult-selectWrap {
  display: inline-block;
  vertical-align: top;
  max-height: 36px;
}

.SearchResult-item {
  background: white;
  z-index: z-index(SearchResult-item);
  cursor: pointer;
  padding: 9px 13px;
  font-size: 14px;
  list-style: none;
  order: 1;
  display: none;

  &:hover {
    background-color: darken(white, 15%);
  }

  .SearchResult-select.is-open & {
    display: block;
  }

  &.is-active {
    order: 0;
    display: block;

    .SearchResult-select.is-open & {
      border-bottom: 1px solid #9d9d9d;
    }

    &::after {
      content: '';
      display: inline-block;
      float: right;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top: 5px solid #4a4a4a;
      position: relative;
      top: 5px;
      margin-left: 10px;
    }
  }
}

.SearchResult-radio {
  display: none;
}

.SearchResult-form {
  float: right;
}

.SearchResult-formWrap {
  padding-bottom: 25px;
  @include clearfix;
}

.SearchResult-button {
  margin: 20px auto;
  display: block;
  padding: 10px;
  border-radius: 3px;
  background-color: #d2d2d2;
  border: solid 1px #9b9b9b;
  cursor: pointer;

  &:hover {
    background-color: darken(#d2d2d2, 10%);
  }
}

.SearchResult-count {
  width: 50px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 5px;
  margin: 0 5px 0 7px;
}

.SearchResult-countWrap {
  display: block;

  @media screen and (min-width: 650px) {
    display: inline-block;
    float: right;
  }
}

.SearchResult-filter {
  min-width: 150px;
}
