<ul class="u-listReset">

    {% if include.treasury %}

    <li class="u-listItemReset">
      <h3 class="FileTypes-title">Data from Treasury</h3>
      <ul class="u-listReset">
  
        {% for item in include.treasury %}
          {% assign title = item[0] %}
  
          <li class="FileTypes-item">
            <div class="FileTypes-text">{{ item[1].description }}</div>
            {% for format in item[1].formats %}
  
              {% if (format.format == 'XLSX') or (format.format == 'XLS') or (format.format == 'XLSXM') %}
                {% assign newFormat = 'Excel' %}
              {% else %}
                {% assign newFormat = format.format %}
              {% endif %}
  
              <a class="FileTypes-link" href="{{ format.url }}" target="_blank">
                <span class="FileTypes-itemTitle">{{ title }} ({{ newFormat}})</span>
                <span class="FileTypes-iconArea">
                  <span class="FileTypes-logoWrap">
                    <svg class="Icon is-small" width="0" height="0" xmlns="http://www.w3.org/2000/svg" viewbox="157 347 100 100">
                      <path d="M250.5 402.4a2 2 0 0 0-1.9-1.3h-22.8v-52c0-1.2-1-2.1-2.1-2.1h-33.3a2 2 0 0 0-2.1 2v52.1h-23a2 2 0 0 0-1.4 3.6l41.6 41.7c.4.4.9.6 1.4.6.6 0 1.1-.2 1.5-.6l41.7-41.7a2 2 0 0 0 .4-2.3z"></path>
                    </svg>
                  </span>
                </span>
              </a>
            
            {% endfor %}
          </li>
  
        {% endfor %}
  
      </ul>
    </li>
  {% endif %}
  
  
  {% if include.cso %}
  
    <li class="u-listItemReset">
      <h3 class="FileTypes-title">Contributed data</h3>
      <ul class="u-listReset">
  
        {% for item in include.cso %}
  
          <li class="FileTypes-item">
            <div class="FileTypes-text">Data by {{ item.contributor }}</div>
            <a class="FileTypes-link" href="{{ item.url_path}}" target="_blank">
              <span class="FileTypes-itemTitle">{{ item.name }}</span>
            </a>
          </li>
      
        {% endfor %}
  
      </ul>
    </li>
  
  {% endif %}
</ul>
