<h3 class="About-title">Media & Other Information</h3>

<h4>Tender publications</h4>

<ul>
  <li>eTenderPublication for the online budget data portal tender</li>
  <li>SATenders publication of the online budget data portal tender</li>
  <li>Leaders2Business publication of the online budget data portal tender</li>
</ul>

<h4>Portal Project Page</h4>

<ul>
  <li>A page published for all the online budget data portal events</li>
</ul>

<h4>Media coverage of the online budget data portal</h4>

<ul>
  <li>An article by IT Web</li>
  <li>An article by SABC</li>
  <li>An article by LimpopoOnline (sourced from the SABS)</li>
</ul>