<h3 class="About-title">Project Status</h3>

<div class="About-graph">
    {% include components/Progress/index.html %}
  </div>
   <div class="About-body">
      <h4>Stage one of the project is currently underway</h4>
      
      <div class="js-tooltips">
        <p>During stage one there will be a series of DataQuests designed to understand user needs, in order to direct the development of the portal.</p>
        
        <p>The first DataQuest has already been held in Pretoria on 26 September 2017. The purpose of the Data Quest is soley to understand the needs of potential users of the data in order to determine the user features that will need to be developed for the portal.</p>
        
        <p>Different participants who are passionate about government policy analysis and its supporting data, from government, private sector and civil society were in attendance and participated in discussions and provided inputs.</p>
        
        <p>On 22 November 2017, there will be a second DataQuest in Cape Town. This will be followed by a two-day Hackathon on 23 and 24 November 2017. This is in line with the agile IT development process that is being used for this project. DataQuests are planned for each Province.</p>
      </div>

      <h4>Already Completed</h4>
      
      <div class="js-tooltips">
        <p>A Project Steering Committee and Operational Working Group comprised of National Treasury officials and representatives of IMALI YETHU was set up to provide strategic and operational guidance to the project. The Government Technical Advisory Centre was brought on board to support with the planning and project management of the project.</p>
        
        <p>A project planning phase was undertaken to scope the project, working together with Civil Society organisations. Thereafter, an open tender process was undertaken to secure a service provider to support the implementation of the project. In keeping with the partnership approach, Civil Society Organisations observed the procurement process. The tender was awarded to OpenUp. The official project commencement date was 4th August 2017.</p>
      </div>
  </div>