.Expenditure {
  padding-top: 40px;
}

.Expenditure-wrap {
  padding: 5px;
  border-radius: 20px;
  background-color: #e6e6e6;
  border: solid 1px #d2d2d2;

  &--graph {
    padding-top: 50px;
  }
}

.Expenditure-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 20px;
}

.Expenditure-linkWrap {
  display: block;
  padding: 5px;
  width: 100%;

  &--extra {
    padding-top: 15px;
  }
}

.Expenditure-link {
  display: inline-block;
  color: #3f3f3f;
  padding: 3px 6px 6px;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    background-color: darken(#e6e6e6, 15%);
  }
}
