$mobile-break: 750px;

.Disclaimer {
  background-color: #3f3f3f;
  color: white;
  text-align: center;
  padding: 15px;
  font-family: Verdana, sans-serif;
  font-size: 11px;

  @media screen and (min-width: $mobile-break) {
    font-weight: bold;
    font-size: 14px;
    font-family: Roboto, sans-serif;
  }
}

.Disclaimer-link {
  color: white;
}
