.ProgrammesChart {
  @media screen and ($tablet-breakpoint) {
    @include clearfix;
  }
}

.ProgrammesChart-info {
  @media screen and ($tablet-breakpoint) {
    width: 40%;
    float: left;
  }
}

.ProgrammesChart-chart {
  @media screen and ($tablet-breakpoint) {
    width: 60%;
    float: right;
  }
}

.ProgrammesChart-share {
  max-width: 250px;
}