{% if include.type == "info" %}
  {% assign icon = "info" %}
{% endif %}

{% if include.type == "alert" %}
  {% assign icon = "alert" %}
{% endif %}

{% if include.importance == "low" %}
  <div class="Message Message--secondary">
{% else %}
  <div class="Message">
{% endif %}

  <div class="Message-content">
    {%
      include components/universal/Icon/index.html
      type=include.icon
      size="large"
    %}
    <span class="Message-heading">
      {% if include.type == "info" %}
        Please note
      {% else %}
        Warning
      {% endif %}
    </span>
  </div>

  {% if include.importance == "low" %}
    <div class="Message-text Message-text--secondary">
  {% else %}
    <div class="Message-text">
  {% endif %}

    {{ include.description }}
  </div>
</div>