body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #4a4a4a;
  overflow-y: scroll;

  &.has-overlay {
    overflow: hidden;
  }

  @media screen and (min-width: 750px) {
    &.has-overlay {
      overflow: scroll;
    }
  }
}
